@model IEnumerable<NutricionWeb.Models.Estado.EstadoViewModel>

<p>
    @Html.ActionLink("Nuevo", "Create", "Estado", new {}, new{@class="btn btn-primary-custom"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            <div style="background-color:@item.Color; height: 30px;width: 30px"></div>
        </td>
        <td>
            <div data-seleccionar id="@item.Id" class="btn btn-primary-custom">Seleccionar</div>
        </td>
    </tr>
}

</table>
