@model NutricionWeb.Models.Turno.TurnoViewModel

@{
    ViewBag.Title = "Details";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Detalles del Turno</h4>
</div>

<div class="row">
    <hr />
    <div class="col-md-7">
        <p class="info-style">
            @Html.DisplayNameFor(model => model.Numero):
            <span class="sub-info">

                @Html.DisplayFor(model => model.Numero)
            </span>

        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PacienteStr):
            <span class="sub-info">

                @Html.DisplayFor(model => model.PacienteStr)
            </span>

        </p>

        <p class="info-style">
            Fecha:
            <span class="sub-info">

                @Html.DisplayFor(model => model.FechaEntradaStr)
            </span>

        </p>

        <p class="info-style">
            Horario:
            <span class="sub-info">
                @Html.DisplayFor(model => model.HorarioEntradaStr) -
                @Html.DisplayFor(model => model.HorarioSalidaStr)

            </span>

        </p>
        <p class="info-style">
            @Html.DisplayNameFor(model => model.Motivo):
            <span class="sub-info">

                @Html.DisplayFor(model => model.Motivo)
            </span>

        </p>
        <p class="info-style">
            @Html.DisplayNameFor(model => model.Eliminado):
            <span class="sub-info">

                @Html.DisplayFor(model => model.EliminadoStr)
            </span>

        </p>
    </div>

</div>
<p style="margin-top: 15px; margin-left: 10px">
    @Html.ActionLink("Actualizar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })
</p>