@model NutricionWeb.Models.DatoAnalitico.DatoAnaliticoABMViewModel

@{
    ViewBag.Title = "Analítico";
}

<div class="titulo-ABM">
    <h4 class="create-h4">Nuevo Dato Analitico</h4>
</div>

<!--Modal -->
<div class="modal fade" id="modal-pacientes" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @*Parte de arriba del modal*@
            <div class="modal-header">
                <div align="right">
                    <button type="button" class=" btn btn-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <br>
                <div class="jumbotron titulo-ABM" style="margin-bottom:5px">
                    <h2>Seleccionar Paciente</h2>
                </div>
            </div>
            @*Cuerpo del modal*@
            <div class="modal-body">
                <div class="form" style="height:382px">
                    <div class="form-group navbar-right">
                        <div class="col-md-4" style="width: 310px">
                            <input type="text" class="form-control " id="txt-BuscarPaciente" placeholder="Ingrese una cadena...">
                        </div>
                        <div class="col-md-2" align="left">
                            <div id="btn-BuscarPaciente" class="btn btn-default ">Buscar</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="partialFindPaciente"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelar-paciente" class="btn btn-primary-custom" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PacienteId)


    <div class="form-group">
        @Html.LabelFor(model => model.PacienteStr, new { @class = "control-label col-md-2" })
        <div class="col-md-4" style="width: 310px">
            @Html.EditorFor(model => model.PacienteStr, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.PacienteStr, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2" align="left">
            <div id="btn-Paciente" class="btn btn-default" type="button" data-toggle="modal" data-target="#modal-pacientes" value="Modal BuscarPacientes" title="Seleccionar paciente">...</div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ColesterolHdl, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ColesterolHdl, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ColesterolHdl, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ColesterolLdl, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ColesterolLdl, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ColesterolLdl, "", new { @class = "text-danger" })
        </div>
    </div>





    <div class="form-group">
        @Html.LabelFor(model => model.PresionDiastolica, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PresionDiastolica, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PresionDiastolica, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PresionSistolica, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PresionSistolica, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PresionSistolica, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Trigliceridos, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Trigliceridos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Trigliceridos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ColesterolTotal, new { @class = "control-label col-md-2" })
        <div class="col-md-4" style="width: 310px">
            @Html.EditorFor(model => model.ColesterolTotal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.ColesterolTotal, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2" align="left">
            <div id="btn-Total" class="btn btn-default" type="button">Calcular</div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.B12, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.B12, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.B12, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CPK, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CPK, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CPK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Creatinina, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Creatinina, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Creatinina, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GlobulosRojos, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GlobulosRojos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GlobulosRojos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Glusemia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Glusemia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Glusemia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fosforo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fosforo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fosforo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Hematocritos, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Hematocritos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Hematocritos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Hemoglobina, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Hemoglobina, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Hemoglobina, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Insulina, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Insulina, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Insulina, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VitaminaD, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.VitaminaD, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.VitaminaD, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Zinc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Zinc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Zinc, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Aceptar" class="btn btn-success" />
            @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(function () {

            $("#btn-Paciente").click(function() {
                    listaPaciente();
                }
            );

            $("#btn-BuscarPaciente").click(() => {
                listaPaciente();
            });


            function listaPaciente() {
                $("#partialFindPaciente").empty();

                $.get('@Html.Raw(Url.Action("BuscarPaciente", "DatoAnalitico"))',
                    {
                        cadenaBuscar: $("#txt-BuscarPaciente").val()
                    },
                    function (listaPaciente) {
                        $("#partialFindPaciente").append(listaPaciente);
                    });
            }

            $('#ColesterolHdl, #ColesterolLdl, #Trigliceridos, #PresionSistolica, #PresionDiastolica').on('input', function () {
                this.value = this.value.replace(/[^0-9]/g, '');
            });

            $(document).on("click",
                "#seleccionar-paciente",
                function() {

                    var url = '@Html.Raw(Url.Action("TraerPaciente", "DatoAnalitico"))';

                    $.get(url,
                        { pacienteId: $(this).attr("name") },
                        function(paciente) {

                            $('#PacienteStr').val(paciente.Apellido + " " + paciente.Nombre);
                            $('#PacienteId').val(paciente.Id);
                            $('#cancelar-paciente').trigger("click");
                        });
                });

            $(document).on("click",
                "#btn-Total",
                function() {

                    var url = '@Html.Raw(Url.Action("CalcularColesterolTotal", "DatoAnalitico"))';

                    $.get(url,
                        {
                            ldl: $('#ColesterolLdl').val(),
                            hdl: $('#ColesterolHdl').val(),
                            tri: $('#Trigliceridos').val()
                        },
                        function(total) {

                            $('#ColesterolTotal').val(total);

                        });
                });


        });


    </script>
}
