@model NutricionWeb.Models.DatoAnalitico.DatoAnaliticoViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Datos Analíticos</h4>
</div>

<div class="row">
    <hr />
    <div class="col-md-7">
        <p class="info-style">
            @Html.DisplayNameFor(model => model.Codigo)
            <span class="sub-info">
                @Html.DisplayFor(model => model.Codigo)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PacienteStr)
            <span class="sub-info">
                @Html.DisplayFor(model => model.PacienteStr)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.ColesterolHdl)
            <span class="sub-info">
                @Html.DisplayFor(model => model.ColesterolHdl) mg/dl
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.ColesterolLdl)
            <span class="sub-info">
                @Html.DisplayFor(model => model.ColesterolLdl) mg/dl
            </span>
        </p>
    </div>
    <div class="col-md-5">
        <p class="info-style">
            @Html.DisplayNameFor(model => model.ColesterolTotal)
            <span class="sub-info">
                @Html.DisplayFor(model => model.ColesterolTotal) mg/dl
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PresionDiastolica)
            <span class="sub-info">
                @Html.DisplayFor(model => model.PresionDiastolica) mmHg
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PresionSistolica)
            <span class="sub-info">
                @Html.DisplayFor(model => model.PresionSistolica) mmHg
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Trigliceridos)
            <span class="sub-info">
                @Html.DisplayFor(model => model.Trigliceridos) mg/dl
            </span>
        </p>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color" style="margin-left: 20px;">
            @if (Model.Eliminado)
            {
                <input type="submit" value="Activar" class="btn btn-info" />

            }
            else
            {
                <input type="submit" value="Eliminar" class="btn btn-danger" />

            }
            @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })

        </div>
    }

</div>
