@model NutricionWeb.Models.DatoAnalitico.DatoAnaliticoViewModel

@{
    ViewBag.Title = "Analítico";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Dato Analítico</h4>
</div>

<div class="row">
    <hr />
    <div class="col-md-7">

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PacienteStr)
            <span class="sub-info">
                @Html.DisplayFor(model => model.PacienteStr)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.ColesterolHdl)
            <span class="sub-info">
                @Html.DisplayFor(model => model.ColesterolHdl) mg/dl
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.ColesterolLdl)
            <span class="sub-info">
                @Html.DisplayFor(model => model.ColesterolLdl) mg/dl
            </span>
        </p>
        <p class="info-style">
            @Html.DisplayNameFor(model => model.ColesterolTotal)
            <span class="sub-info">
                @Html.DisplayFor(model => model.ColesterolTotal) mg/dl
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PresionDiastolica)
            <span class="sub-info">
                @Html.DisplayFor(model => model.PresionDiastolica) mmHg
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PresionSistolica)
            <span class="sub-info">
                @Html.DisplayFor(model => model.PresionSistolica) mmHg
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Trigliceridos)
            <span class="sub-info">
                @Html.DisplayFor(model => model.Trigliceridos) mg/dl
            </span>
        </p>
    </div>
    <div class="col-md-5">




        <p class="info-style">
            @Html.DisplayNameFor(model => model.B12):
            <span class="sub-info">
                @Html.DisplayFor(model => model.B12)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Creatinina):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Creatinina)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.CPK):
            <span class="sub-info">
                @Html.DisplayFor(model => model.CPK)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.VitaminaD):
            <span class="sub-info">
                @Html.DisplayFor(model => model.VitaminaD)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Zinc):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Zinc)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Insulina):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Insulina)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Hemoglobina):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Hemoglobina)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Hematocritos):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Hematocritos)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.GlobulosRojos):
            <span class="sub-info">
                @Html.DisplayFor(model => model.GlobulosRojos)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Fosforo):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Fosforo)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Glusemia):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Glusemia)
            </span>
        </p>
    </div>


</div>

<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @if (Model.Eliminado)
        {
            <input type="submit" value="Activar" class="btn btn-info" />

        }
        else
        {
            <input type="submit" value="Eliminar" class="btn btn-danger" />

        }
        @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })

    </div>
}

