@model NutricionWeb.Models.DatoAnalitico.DatoAnaliticoViewModel

@{
    ViewBag.Title = "Details";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Datos Analíticos</h4>
</div>

<div class="row">
    <hr />
    <div class="col-md-7">
        <p class="info-style">
            @Html.DisplayNameFor(model => model.Codigo):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Codigo)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PacienteStr):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PacienteStr)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.ColesterolHdl):
            <span class="sub-info">
                @Html.DisplayFor(model => model.ColesterolHdl) mg/dl
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.ColesterolLdl):
            <span class="sub-info">
                @Html.DisplayFor(model => model.ColesterolLdl) mg/dl
            </span>
        </p>
    </div>
    <div class="col-md-5">
        <p class="info-style">
            @Html.DisplayNameFor(model => model.ColesterolTotal):
            <span class="sub-info">
                @Html.DisplayFor(model => model.ColesterolTotal) mg/dl
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PresionDiastolica):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PresionDiastolica) mmHg
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PresionSistolica):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PresionSistolica) mmHg
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Trigliceridos):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Trigliceridos) mg/dl
            </span>
        </p>
    </div>
    

        

</div>
<p style="margin-top: 15px; margin-left: 10px">
    @Html.ActionLink("Actualizar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Ir al Paciente", "Details", "Paciente", new { id = Model.PacienteId }, new { @class = "btn btn-info" })
</p>
