@model IEnumerable<NutricionWeb.Models.DatoAnalitico.DatoAnaliticoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.PacienteStr)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ColesterolTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresionDiastolica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresionSistolica)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.PacienteStr)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.ColesterolTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresionDiastolica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresionSistolica)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
