@model IEnumerable<NutricionWeb.Models.Establecimiento.EstablecimientoViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Establecimientos</h4>
</div>

<div class="row">
    <div class="col-lg-6" align="left">
        <div class="btn-group">
            @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary-custom1" })

            
        </div>
    </div>
    
</div>

<br/>

<div class="table-responsive">
    <table class="table">
        <tr class="cabecera-tabla">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profesional)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>

                <td align="right">
                    @Html.ActionLink("Actualizar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                    
                </td>
            </tr>
        }

    </table>
</div>
