@model NutricionWeb.Models.Empleado.EmpleadoViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmpleadoABMViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApyNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApyNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SexoStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SexoStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.EliminadoStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EliminadoStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Legajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Legajo)
        </dd>
        
        @if (Model.FotoStr != null)
        {
            <div>
                <div class="col-md-4">
                    <div class="imagen-fondo">
                        <img src="@Url.Content(Model.FotoStr)" alt="Image" style="width: 240px; height: 240px; max-width: 240px; max-height: 240px;" />
                    </div>
                </div>
            </div>
        }

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
