@model NutricionWeb.Models.ObservacionAlergiaIntolerancia.ObservacionAlergiaIntoleranciaABMViewModel

@{
    ViewBag.Title = "Create";
}

<div class="titulo-ABM">
    <h4 class="create-h4">Nuevo Registro</h4>
</div>

<!--Modal -->
<div class="modal fade" id="modal-alergias" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @*Parte de arriba del modal*@
            <div class="modal-header">
                <div align="right">
                    <button type="button" class=" btn btn-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <br>
                <div class="jumbotron titulo-ABM" style="margin-bottom:5px">
                    <h2>Seleccionar Alergia/Intolerancia</h2>
                </div>
            </div>
            @*Cuerpo del modal*@
            <div class="modal-body">
                <div class="form" style="height:382px">
                    <div class="form-group navbar-right">
                        <div class="col-md-4" style="width: 310px">
                            <input type="text" class="form-control " id="txt-BuscarAlergia" placeholder="Ingrese una cadena...">
                        </div>
                        <div class="col-md-2" align="left">
                            <div id="btn-BuscarAlergia" class="btn btn-default ">Buscar</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="partialFindAlergia"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelar-alergia" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="margin-left: 17%;">Complete los campos con los datos solicitados.</h4>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ObservacionId)
        @Html.HiddenFor(model => model.AlergiaId)



        <div class="form-group">
            @Html.LabelFor(model => model.AlergiaStr, new { @class = "control-label col-md-2" })
            <div class="col-md-4" style="width: 310px">
                @Html.EditorFor(model => model.AlergiaStr, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.AlergiaStr, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2" align="left">
                <div id="btn-Alergia" class="btn btn-default" type="button" data-toggle="modal" data-target="#modal-alergias" value="Modal BuscarAlergias" title="Seleccionar alergia/intolerancia">...</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aceptar" class="btn btn-success" />
                @Html.ActionLink("Volver", "Details", "Observacion", new { id = Model.ObservacionId }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(function () {

            $("#btn-Alergia").click(function() {
                    listaAlergia();
                }
            );


            function listaAlergia() {
                $("#partialFindAlergia").empty();

                $.get('@Html.Raw(Url.Action("BuscarAlergia", "ObservacionAlergiaIntolerancia"))',
                    {
                        cadenaBuscar: $("#txt-BuscarAlergia").val()
                    },
                    function (listaAlergia) {
                        $("#partialFindAlergia").append(listaAlergia);
                    });
            }



            $(document).on("click",
                "#seleccionar-alergia",
                function() {

                    var url = '@Html.Raw(Url.Action("TraerAlergia", "ObservacionAlergiaIntolerancia"))';

                    $.get(url,
                        { alergiaId: $(this).attr("name") },
                        function(alergia) {

                            $('#AlergiaStr').val(alergia.Descripcion);
                            $('#AlergiaId').val(alergia.Id);
                            $('#cancelar-alergia').trigger("click");
                        });
                });


        });


    </script>
}
