<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            @Html.ActionLink("Inicio", "Index", "Home", new { }, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Paciente", "Index", "Paciente", new { }, new { @class = "nav-link" })
        </li>        

        @Html.Partial("_LoginPartial")
    </ul>
                
                
            
      
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
