<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Power Nutrition</title>
    <script src="~/Scripts/popper.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-lay">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">Inicio</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    

                    @if (User.IsInRole("Empleado") || User.IsInRole("Administrador"))
    {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cargar Personas<span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Pacientes", "Index", "Paciente")</li>
                            <li>@Html.ActionLink("Planes Alimenticios", "Index", "PlanAlimenticio")</li>
                            <li>@Html.ActionLink("Datos Antropometricos", "Index", "DatoAntropometrico")</li>
                            <li>@Html.ActionLink("Datos Analiticos", "Index", "DatoAnalitico")</li>

                            @if (User.IsInRole("Administrador"))
            {
                <li>@Html.ActionLink("Empleados", "Index", "Empleado")</li>
}
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                </ul>
}
                    @if (User.IsInRole("Empleado") || User.IsInRole("Administrador"))
    {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Datos Básicos<span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Patologias", "Index", "Patologia")</li>
                            <li>@Html.ActionLink("Alergias e Intolerancias", "Index", "AlergiaIntolerancia")</li>
                            <li>@Html.ActionLink("Grupos", "Index", "Grupo")</li>
                            <li>@Html.ActionLink("SubGrupos", "Index", "SubGrupo")</li>
                            <li>@Html.ActionLink("Opciones", "Index", "Opcion")</li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                </ul>
}
                    @if (User.IsInRole("Administrador"))
    {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cargar Alimentos<span class="caret"></span></a>
                        <ul class="dropdown-menu">


                            <li>@Html.ActionLink("Micro Nutrientes", "Index", "MicroNutriente")</li>
                            <li>@Html.ActionLink("Unidades de Medidas", "Index", "UnidadMedida")</li>

                            <li>@Html.ActionLink("Micro Nutrientes Detalles", "Index", "MicroNutrienteDetalle")</li>

                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Alimentos", "Index", "Alimento")</li>
                            <li>@Html.ActionLink("Recetas", "Index", "Receta")</li>
                        </ul>
                    </li>
                </ul>
}
                    @if (User.IsInRole("Empleado") || User.IsInRole("Administrador"))
                    {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administración<span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    <li>@Html.ActionLink("Calendario", "About", "Home")</li>
                                    <li>@Html.ActionLink("Estados", "Index", "Estado")</li>

                                    @if (User.IsInRole("Administrador"))
                                    {
                                        <li>@Html.ActionLink("Manejo de Turnos", "Index", "Turno")</li>
                                        <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                                        <li>@Html.ActionLink("Crear Usuario", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
                                        <li>@Html.ActionLink("Establecimiento", "Create", "Establecimiento")</li>
                                        <li>@Html.ActionLink("Pagos", "Index", "Pago")</li>


                                    }

                                    <li role="separator" class="divider"></li>
                                </ul>
                            </li>
                        </ul>
                    }
                    
                    @if (User.IsInRole("Administrador") || User.IsInRole("Paciente"))
                    {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mensajes<span class="caret"></span></a>
                                <ul class="dropdown-menu">


                                    <li>@Html.ActionLink("Mensajes Recibidos", "IndexRecibidos", "Mensaje")</li>
                                    <li>@Html.ActionLink("Mensajes Enviados", "IndexEnviados", "Mensaje")</li>
                                    <li role="separator" class="divider"></li>

                                    <li>@Html.ActionLink("Nuevo Mensaje", "Create", "Mensaje")</li>

                                </ul>
                            </li>
                        </ul>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Power Nutrition Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)


</body>
</html>
