@model NutricionWeb.Models.Pago.PagoViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.Fecha = Model.Fecha.ToShortDateString();
}

<div class="row">
    <div class="titulo-ABM">
        <h4 class="detail-h4">Detalles del Pago</h4>
    </div>

    <hr />

    <div class="col-md-8">
        <div class="col-md-7">
            <p class="info-style">
                @Html.DisplayNameFor(model => model.PacienteStr):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.PacienteStr)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.Concepto):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Concepto)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.Monto):
                <span class="sub-info">
                    $@Html.DisplayFor(model => model.Monto)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.Fecha):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.FechaStr)
                </span>
            </p>
        </div>
    </div>
</div>


@if (User.IsInRole("Administrador"))
{
    <div class="row" style="margin-left: 15px;">
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })
        </p>
    </div>
}