@using PagedList.Mvc;
@model PagedList.IPagedList<NutricionWeb.Models.Pago.PagoViewModel>

@{
    ViewBag.Title = "Pagos";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Pagos</h4>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-4" align="left">
            <div class="btn-group">
                @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary-custom1" })


                @if (@ViewBag.Eliminado == false)
                {
                    
                    <button type="submit" class="btn btn-primary-custom" id="verEliminados">Eliminados/Activos</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary-custom" id="verActivos">Ver Activos</button>

                }
            </div>
        </div>

        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-2" align="right">
                    @Html.Label("Desde", htmlAttributes: new { @class = "control-label", @style = "margin-top:5px;" })
                </div>

                <div class="col-lg-10">
                    <div class="input-group datepicker" id="FechaDesde">
                        <span class="input-group-addon primarySpan">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <input type="hidden" class="form-control" name="Desde" id="Desde" />
                        <input type="text" class="form-control" readonly="readonly" id="DesdeR" placeholder="DD/MM/YYYY" />
                    </div>
                </div>

            </div>

        </div>

        <div class="col-lg-4" align="right">
           
                        @Html.TextBox("CadenaBuscar", ViewBag.FilterValue as string, new { placeholder = "Ingrese una cadena...", @class = "form-control", autocomplete = "off" })
                        <button type="submit" class="btn btn-default" id="txtBuscar">Buscar</button>

        </div>

        

    </div>
    <br />
    <div class="row">
        <div id="contenedor" class="col"></div>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        var eliminadoD = false;
        $("#FechaDesde").datetimepicker({
            locale: 'es',
            format: 'L'

        });
        var filtrar = function () {
            var cadenaBuscar = $("#txtBuscar").val();
            console.log(cadenaBuscar);
            var fecha = $("#Desde").val();
            var eliminado = eliminadoD;
            console.log(fecha);
            var url = '@Url.Action("IndexComplete", "Pago")';
            $.get(url,
                { cadenaBuscar, fecha, eliminado },
                function (pagos) {
                    $("#contenedor").empty();
                    $("#contenedor").append(pagos);
                    
                    console.log(pagos);
                    

                });
        }
        filtrar();

        $("#txtBuscar").click(function () {

                filtrar();
        });
    $("#verEliminados").click(function () {
        console.log($("#verEliminados"));
        eliminadoD = !eliminadoD;          
                filtrar();
            });
</script>
}



