@model NutricionWeb.Models.Mail.MailViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>



<div class="col-md-12">

    @using (Html.BeginForm("Create","Mail",FormMethod.Post,new{@id= "formEnviarMail" , enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <img src="~/Content/Imagenes/ajax-loader (3).gif"  id="loading" hidden/>
            <span id="mensaje"></span>
            <hr/>
            <div class="col-md-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.MailDestino, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MailDestino, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MailDestino, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MailEmisor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MailEmisor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MailEmisor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Contraseña, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CuerpoMensaje, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CuerpoMensaje, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CuerpoMensaje, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Asunto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Asunto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Asunto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Imagenes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <span class="btn btn-primary btn-primary">
                            @Html.TextBoxFor(model => model.Imagenes, new { type = "file", @multiple = "multiple" })
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <input type="submit" id="enviar" value="Create" class="btn btn-default"/>
                        @Html.ActionLink("Volver", "IndexEnviados", "Mensaje", new { }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-md-6">
        <div id="imagen"></div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        //=======================JavaScriptPuro==========================
        var prueba;
        var insertarImagen = function(src) {
            var img = document.createElement("img");
            img.style.width = "50px";
            img.style.height = "50px";
            img.style.margin = "5px";
            img.src = src;
            document.getElementById("imagen").appendChild(img);
        }

        var enviar = function(e) {
            e.preventDefault();
            var form = document.getElementById("formEnviarMail");
            var data = new FormData(form);
            console.log(data);
            var url = '@Url.Action("Create")';
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            document.getElementById("loading").style.display = "block";
            xhr.send(data);
            xhr.onreadystatechange = function() {

                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("loading").style.display = "none";
                    document.getElementById("mensaje").innerText = '';
                    document.getElementById("mensaje").innerText = xhr.responseText;
                }
            }
        }

        var ready = function() {

            document.getElementById("enviar").addEventListener("click", enviar);

            document.getElementById("Imagenes").addEventListener("input",
                function() {

                    var files = this.files;
                    document.getElementById("imagen").innerHTML = "";
                    for (var i = 0; i < files.length; i++) {

                        var fileReader = new FileReader();
                        var file = files[i];

                        if (file.type.includes("image")) {
                            fileReader.onload = (function (e) {

                                insertarImagen(e.target.result);

                            });

                        } else {

                            if (file.type.includes("zip")) {

                                insertarImagen("/Content/Imagenes/icono-ZIP.png");

                            } else {

                                if (file.name.includes("rar")) {

                                    insertarImagen("/Content/Imagenes/rar.png");

                                } else {

                                    insertarImagen("/Content/Imagenes/word.png");
                                }
                            }
                        }
                        fileReader.readAsDataURL(files[i]);
                    }
                });
        }
        window.addEventListener("load", ready);
    </script>
}
