@model NutricionWeb.Models.Mail.CuerpoMailViewModel

@{
    ViewBag.Title = "GenerarCuerpoMail";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/fonts.css" rel="stylesheet" />

@{
    var nota = "";
    var masa = double.Parse(Model.DatoAntropometrico.MasaCorporal);
    var color = "";
    if (masa >= 18.5 && masa <= 24.9)
    {
        nota = "Peso Normal";
        color = "background-color: rgba(254,240,0,1)";
    }
    if (masa >= 25 && masa <= 26.9)
    {
        nota = "Sobrepeso grado I";
        color = "background-color: rgba(253,184,49,1)";
    }
    if (masa >= 27 && masa <= 29.9)
    {
        nota = "Sobrepeso grado II";
        color = "background-color: rgba(248,152,28,1)";
    }
    if (masa >= 30 && masa <= 34.9)
    {
        nota = "Obesidad grado I";
        color = "background-color: rgba(243,117,56,1)";
    }
    if (masa >= 35 && masa <= 39.9)
    {
        nota = "Obesidad grado II";
        color = "background-color: rgba(236,65,54,1)";
    }
    if (masa >= 40)
    {
        nota = "Obesidad morbida";
        color = "background-color: rgba(236,23,79,1)";
    }
}

<br /><br />
<img class="pull-right" src="~/Content/Imagenes/logo-novillo.png" style="width: 25%;" />

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<div style="text-align: center;">
    <h2 class="regular titulo-reporte">HISTORIA CLINICA Y NUTRICIONAL</h2>
</div>

<br /><br />

<div class="row">
    <div class="col-xs-4 col-xs-offset-1">
        <p class="titulo-categoria regular">DATOS DEL PACIENTE</p>
        <p class="regular bold">Paciente: <span class="light">@Model.Paciente.ApyNom</span></p>
        <p class="regular bold">E-Mail: <span class="light">@Model.Paciente.Mail</span></p>
        <p class="regular bold">Tel: <span class="light">@Model.Paciente.Celular</span></p>
        <p class="regular bold">Fecha de nacimiento: <span class="light">@Model.Paciente.FechaNacStr</span></p>
        <p class="regular bold">Edad: <span class="light">@Model.Paciente.Edad</span></p>
        <p class="regular bold">Fecha de historia clinica: <span class="light">@Model.DatoAntropometrico.FechaMedicionStr</span></p>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
        <p class="titulo-categoria regular">MEDICIONES</p>
        <p class="regular bold">Altura: <span class="light">@Model.DatoAntropometrico.Altura cm.</span></p>
        <p class="regular bold">Peso Actual: <span class="light">@Model.DatoAntropometrico.PesoActual Kg</span>.</p>
        <p class="regular bold">Peso Habitual: <span class="light">@Model.DatoAntropometrico.PesoHabitual Kg.</span></p>
        <p class="regular bold">Peso Deseado: <span class="light">@Model.DatoAntropometrico.PesoDeseado Kg.</span></p>
        <p class="regular bold">Peso Ideal: <span class="light">@Model.DatoAntropometrico.PesoIdeal Kg.</span></p>
        <p class="regular bold">IMC: <span class="light">@Model.DatoAntropometrico.MasaCorporal Kg/m² - <span style="@color">(@nota)</span></span></p>
        <p class="regular bold">Masa de grasa(%): <span class="light">@Model.DatoAntropometrico.MasaGrasa %</span></p>
    </div>
</div>

<br /><br />

<div style="width: 80%; margin: 0 auto;">
    <p class="titulo-categoria regular">OBJETIVOS DEL TRATAMIENTO</p>
    <p class="light bold">@Model.Objetivo.Descripcion</p>
</div>

<br /><br />

<div style="width: 80%; margin: 0 auto;">
    <p class="titulo-categoria regular">ESTRATEGIAS DEL TRATAMIENTO</p>
    <p class="light bold">@Model.Estrategia.Descripcion</p>
</div>


