@model NutricionWeb.Models.MacroNutriente.MacroNutrienteABMViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="titulo-ABM">
    <h4 class="create-h4">Actualizar Registro</h4>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4 style="margin-left: 17%;">Actualice los campos requeridos. Cantidad cada 100g</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)






    <div class="form-group">
        @Html.LabelFor(model => model.AlimentoStr, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AlimentoStr, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.AlimentoStr, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Proteina, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Proteina, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Proteina, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Grasa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Grasa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Grasa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Energia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Energia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Energia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HidratosCarbono, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HidratosCarbono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HidratosCarbono, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Calorias, new { @class = "control-label col-md-2" })
        <div class="col-md-4" style="width: 310px">
            @Html.EditorFor(model => model.Calorias, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Calorias, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2" align="left">
            <div id="btn-Total" class="btn btn-default" type="button">Calcular</div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Aceptar" class="btn btn-success" />
            @Html.ActionLink("Volver", "Index", "Alimento", new { }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $('#Energia,  #HidratosCarbono, #Grasa, #Proteina').on('input', function () {
            this.value = this.value.replace(/[^0-9]/g, '');
    });

        $(document).on("click",
            "#btn-Total",
            function() {

                var url = '@Html.Raw(Url.Action("CalcularCalorias", "MacroNutriente"))';

                $.get(url,
                    {
                        prote: $('#Proteina').val(),
                        hc: $('#HidratosCarbono').val(),
                        grasa: $('#Grasa').val()
                    },
                    function(total) {

                        $('#Calorias').val(total);

                    });
            });
</script>
}
