@model NutricionWeb.Models.Paciente.PacienteABMViewModel

@{
    ViewBag.Title = "Create";
}

<div class="titulo-ABM">
    <h4 class="create-h4">Nuevo Paciente</h4>
</div>

@using (Html.BeginForm("Create", "Paciente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br/>
        <div class="row">
            <div class="col-md-6">
                @if (User.IsInRole("Administrador"))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.EstablecimientoId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8" >
                            @Html.DropDownListFor(model => model.EstablecimientoId, Model.Establecimientos, "Seleccione un Establecimiento", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EstablecimientoId, "", new { @class = "text-danger" })

                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(x => x.EstablecimientoId)
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Dni, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.FechaNac, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.FechaNac, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                        @Html.ValidationMessageFor(model => model.FechaNac, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Sexo, Model.Sexos, "Seleccione un sexo", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <span class="btn btn-primary-custom">
                            @Html.TextBoxFor(model => model.Foto, new { type = "file" })
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class=" col-md-10">
                <input type="submit" value="Aceptar" class="btn btn-success" />
                @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("#FechaNac").datepicker({
                changeMonth: true,
                changeYear: true,
                locale:"es",
                yearRange: "1930:2099",
                dateFormat: "dd/mm/yy"
            });
            $(document).ready(function(){
                $("#FechaNac").attr("value", "01/01/1980");
            });
        });
    </script>
}
