@model NutricionWeb.Models.Paciente.PacienteViewModel

@helper AgregarVista(string idVista, string idParcial)
{
    <div id="@idVista" class="tab-pane fade in active">
        @*imagen cargando*@
        <div id="@idParcial"></div>
    </div>
}

@helper AgregarTabs(string idTab, string idVista, string texto, string clase)
{
    <li class="@clase" id="@idTab"><a data-toggle="tab" href="#@idVista">@texto</a></li>
}



<ul class="nav nav-tabs">
    @AgregarTabs("datosAntropometricos", "datosAntropometricos-Vista", "Datos Atropometricos", "active")
    @AgregarTabs("planesAlimenticios", "planesAlimenticios-Vista", "Planes Alimenticios", "")
    @AgregarTabs("datosAnaliticos", "datosAnaliticos-Vista", "Datos Analiticos", "")
    @AgregarTabs("turnos", "turnos-Vista", "Turnos", "")
</ul>

<div class="tab-content">
    @AgregarVista("datosAntropometricos-Vista", "datosAntropometricos-Parcial")
    @AgregarVista("planesAlimenticios-Vista", "planesAlimenticios-Parcial")
    @AgregarVista("datosAnaliticos-Vista", "datosAnaliticos-Parcial")
    @AgregarVista("turnos-Vista", "turnos-Parcial")
</div>

@section scripts
{
    <script type="text/javascript">
        //=======================JavaScriptPuro==========================

        var datosAntropometricos = function() {
            var url = '@Url.Action("DatosAntropometricosParcial", "Paciente")';
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url + "?id=" + @Model.Id, true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("datosAntropometricos-Parcial").innerHTML = "";
                    document.getElementById("datosAntropometricos-Parcial").innerHTML = xhr.response;
                }
            }
        }

        var planesAlimenticios = function() {
            var url = '@Url.Action("PlanesAlimenticiosParcial", "Paciente")';
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url + "?id=" + @Model.Id, true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("planesAlimenticios-Parcial").innerHTML = "";
                    document.getElementById("planesAlimenticios-Parcial").innerHTML = xhr.response;
                }
            }
        }

        var datosAnaliticos = function() {
            var url = '@Url.Action("DatosAnaliticosParcial")';

            var xhr = new XMLHttpRequest();
            xhr.open("GET", url + "?id=" + @Model.Id, true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("datosAnaliticos-Parcial").innerHTML = "";
                    document.getElementById("datosAnaliticos-Parcial").innerHTML = xhr.response;
                }
            }

        }

        var turnos = function() {
            var url = '@Url.Action("TurnosParcial")';
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url + "?id=" + @Model.Id, true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("turnos-Parcial").innerHTML = "";
                    document.getElementById("turnos-Parcial").innerHTML = xhr.response;
                }
            }
        }

        var inicio = function() {

            datosAntropometricos();

            document.getElementById("datosAntropometricos").addEventListener("click",
                function() {
                    datosAntropometricos();
                });

            document.getElementById("planesAlimenticios").addEventListener("click",
                function () {                    
                    planesAlimenticios();
                });

            document.getElementById("datosAnaliticos").addEventListener("click",
                function() {
                    datosAnaliticos();
                });

            document.getElementById("turnos").addEventListener("click",
                function() {
                    turnos();
                });
        };

        window.addEventListener("load", inicio);

    </script>
}
