@model NutricionWeb.Models.Paciente.PacienteViewModel

@helper AgregarVista(string idVista, string idParcial)
{
    <div id="@idVista" class="tab-pane fade in active">
        @*imagen cargando*@
        <div id="@idParcial"></div>
    </div>
}

@helper AgregarTabs(string idTab, string idVista, string texto, string clase)
{
    <li class="@clase" id="@idTab"><a data-toggle="tab" href="#@idVista">@texto</a></li>
}

<div class="titulo-ABM">
    <h4 class="create-h4">@Model.ApyNom</h4>
</div>



<ul class="nav nav-tabs">
    @AgregarTabs("datosAntropometricos", "datosAntropometricos-Vista", "Datos Atropometricos", "active")
    @AgregarTabs("planesAlimenticios", "planesAlimenticios-Vista", "Planes Alimenticios", "")
    @AgregarTabs("datosAnaliticos", "datosAnaliticos-Vista", "Datos Analiticos", "")
    @AgregarTabs("turnos", "turnos-Vista", "Turnos", "")
    @AgregarTabs("anamnesis", "anamnesis-Vista", "Anamnesis", "")
    @AgregarTabs("objetivo", "objetivo-Vista", "Objetivo", "")
    @AgregarTabs("estadisticas", "estadisticas-Vista", "Estadisticas", "")
</ul>

<div class="tab-content">
    @AgregarVista("datosAntropometricos-Vista", "datosAntropometricos-Parcial")
    @AgregarVista("planesAlimenticios-Vista", "planesAlimenticios-Parcial")
    @AgregarVista("datosAnaliticos-Vista", "datosAnaliticos-Parcial")
    @AgregarVista("turnos-Vista", "turnos-Parcial")
    @AgregarVista("anamnesis-Vista", "anamnesis-Parcial")
    @AgregarVista("objetivo-Vista", "objetivo-Parcial")
    @AgregarVista("estadisticas-Vista", "estadisticas-Parcial")
</div>

@section scripts
{
    <script type="text/javascript">
        //=======================JavaScriptPuro==========================

        var datosAntropometricos = function() {
            var url = '@Url.Action("DatosAntropometricosParcial", "Paciente")';
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url + "?id=" + @Model.Id, true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("datosAntropometricos-Parcial").innerHTML = "";
                    document.getElementById("datosAntropometricos-Parcial").innerHTML = xhr.response;
                }
            }
        }

        var planesAlimenticios = function() {
            var url = '@Url.Action("PlanesAlimenticiosParcial", "Paciente")';
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url + "?id=" + @Model.Id, true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("planesAlimenticios-Parcial").innerHTML = "";
                    document.getElementById("planesAlimenticios-Parcial").innerHTML = xhr.response;
                }
            }
        }

        var datosAnaliticos = function() {
            var url = '@Url.Action("DatosAnaliticosParcial")';

            var xhr = new XMLHttpRequest();
            xhr.open("GET", url + "?id=" + @Model.Id, true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("datosAnaliticos-Parcial").innerHTML = "";
                    document.getElementById("datosAnaliticos-Parcial").innerHTML = xhr.response;
                }
            }

        }

        var turnos = function() {
            var url = '@Url.Action("TurnosParcial")';
            $.get(url, {id : @Model.Id}, function (parcial) {
                $("#turnos-Parcial").empty();
                $("#turnos-Parcial").append(parcial);
            });
        }

        var objetivo = function() {
            var url = '@Url.Action("ObjetivosParcial")';
            $.get(url,
                { id: @Model.Id },
                function (parcial) {
                    console.log(parcial);
                    $("#objetivo-Parcial").empty();
                    $("#objetivo-Parcial").append(parcial);
                });
        }

        var anamnesis = function() {
            var url = '@Url.Action("AnamnesisParcial")';
            $.get(url,
                { id: @Model.Id },
                function (parcial) {
                    console.log(parcial);
                    $("#anamnesis-Parcial").empty();
                    $("#anamnesis-Parcial").append(parcial);
                });
        }

        var estadisticas = function() {

            var url = '@Url.Action("Index", "Estadisticas")';
            $.get(url, { id: @Model.Id}, function (parcial) {
                
                $("#estadisticas-Parcial").empty();
                $("#estadisticas-Parcial").append(parcial);
            });
            @*var xhr = new XMLHttpRequest();
            xhr.open("GET", url + "?id=" + @Model.Id, true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log("d");
                    document.getElementById("estadisticas-Parcial").innerHTML = "";
                    document.getElementById("estadisticas-Parcial").innerHTML = xhr.response;
                }
            }*@
        }

        var inicio = function() {

            datosAntropometricos();

            document.getElementById("datosAntropometricos").addEventListener("click",
                function() {
                    datosAntropometricos();
                });

            document.getElementById("planesAlimenticios").addEventListener("click",
                function () {                    
                    planesAlimenticios();
                });

            document.getElementById("datosAnaliticos").addEventListener("click",
                function() {
                    datosAnaliticos();
                });

            document.getElementById("turnos").addEventListener("click",
                function() {
                    turnos();
                });
            document.getElementById("estadisticas").addEventListener("click",
                function() {
                    estadisticas();
                });
            document.getElementById("objetivo").addEventListener("click",
                function() {
                    objetivo();
                });
            document.getElementById("anamnesis").addEventListener("click",
                function () {
                    anamnesis();
                });
        };

        window.addEventListener("load", inicio);

    </script>
}
