@model IEnumerable<NutricionWeb.Models.DatoAntropometrico.DatoAntropometricoViewModel>

<br/>
<div class="row">
    <div class="col-lg-6" align="left">
        <div class="btn-group">
            @Ajax.ActionLink("Nuevo","CreateParcial","DatoAntropometrico",new{ id = (long) ViewBag.PacienteId },new AjaxOptions()
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "datosAntropometricos-Parcial",

            },new {@class="btn btn-primary-custom"})
        </div>
    </div>
</div>
<br/>
<div class="table-responsive">
    <table class="table">
        <tr class="cabecera-tabla">

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FechaMedicion)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PesoActual) 
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PesoDeseado) 
            </th>

            
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MasaGrasa) 
            </th>
            <th>
                IMC
            </th>
            <th></th>
        </tr>
        
        @foreach (var item in Model.OrderBy(model => model.FechaMedicion))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaMedicionStr)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PesoActual) kg
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PesoDeseado) kg
                </td>

                
                <td>
                    @Html.DisplayFor(modelItem => item.MasaGrasa) %
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MasaCorporal) Kg/M²
                </td>
                <td align="right">
                    @Html.ActionLink("Actualizar", "Edit", "DatoAntropometrico", new { id = item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Detalles", "Details", "DatoAntropometrico", new { id = item.Id }, new { @class = "btn btn-default" })
                    @if (item.Eliminado)
                    {
                        @Html.ActionLink("Activar", "Delete", "DatoAntropometrico", new { id = item.Id }, new { @class = "btn btn-info" })

                    }
                    else
                    {
                        @Html.ActionLink("Eliminar", "Delete", "DatoAntropometrico", new { id = item.Id }, new { @class = "btn btn-danger" })

                    }
                </td>
            </tr>
        }

    </table>
</div>
