@model IEnumerable<NutricionWeb.Models.DatoAnalitico.DatoAnaliticoViewModel>
<br/>
<div class="row">
    <div class="col-lg-6" align="left">
        <div class="btn-group">
            @Ajax.ActionLink("Nuevo", "CreateParcial", "DatoAnalitico", new { id = (long)ViewBag.PacienteId }, new AjaxOptions()
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "datosAnaliticos-Parcial",

            }, new { @class = "btn btn-primary-custom" })

            @if (@ViewBag.Eliminado == false)
            {

                @Ajax.ActionLink("Ver Eliminado", "DatosAnaliticosParcial", "Paciente", new { id = (long)ViewBag.PacienteId, eliminado = !ViewBag.Eliminado }, new AjaxOptions()
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "datosAnaliticos-Parcial",

                }, new { @class = "btn btn-primary-custom" })
            }
            else
            {
                @Ajax.ActionLink("Ver Activos", "DatosAnaliticosParcial", "Paciente", new { id = (long)ViewBag.PacienteId, eliminado = !ViewBag.Eliminado }, new AjaxOptions()
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "datosAnaliticos-Parcial",

                }, new { @class = "btn btn-primary-custom" })

            }
        </div>
    </div>
</div>
<br/>
<div class="table-responsive">
    <table class="table">
        <tr class="cabecera-tabla">

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FechaMedicion)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ColesterolTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PresionDiastolica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PresionSistolica)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FechaMedicionStr)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ColesterolTotal) mg/dl
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PresionDiastolica) mmHg
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PresionSistolica) mmHg
                </td>

                <td align="right">
                    @Html.ActionLink("Actualizar", "Edit", "DatoAnalitico", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                    @Html.ActionLink("Detalles", "Details", "DatoAnalitico", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                    @if (item.Eliminado)
                    {
                        @Html.ActionLink("Activar", "Delete", "DatoAnalitico", new { id = item.Id }, new { @class = "btn btn-info btn-xs" })

                    }
                    else
                    {
                        @Html.ActionLink("Eliminar", "Delete", "DatoAnalitico", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })

                    }
                </td>
            </tr>
        }

    </table>
</div>