@model IEnumerable<NutricionWeb.Models.DatoAntropometrico.DatoAntropometricoViewModel>

<br/>
<div class="row">
    <div class="col-lg-6" align="left">
        <div class="btn-group">
            @Ajax.ActionLink("Nuevo", "CreateParcial", "DatoAntropometrico", new { id = (long)ViewBag.PacienteId }, new AjaxOptions()
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "datosAntropometricos-Parcial",

            }, new { @class = "btn btn-primary-custom" })
            @if (@ViewBag.Eliminado == false)
            {

                @Ajax.ActionLink("Ver Eliminado", "DatosAntropometricosParcial", "Paciente", new { id = (long)ViewBag.PacienteId, eliminado = !ViewBag.Eliminado }, new AjaxOptions()
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "datosAntropometricos-Parcial",

                }, new { @class = "btn btn-primary-custom" })
            }
            else
            {
                @Ajax.ActionLink("Ver Activos", "DatosAntropometricosParcial", "Paciente", new { id = (long)ViewBag.PacienteId, eliminado = !ViewBag.Eliminado }, new AjaxOptions()
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "datosAntropometricos-Parcial",

                }, new { @class = "btn btn-primary-custom" })

            }
        </div>
    </div>
</div>
<br/>
<div class="table-responsive">
    <table class="table">
        <tr class="cabecera-tabla">

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FechaMedicion)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Altura)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PesoActual)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PesoDeseado)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MasaGrasa)
            </th>
            <th>
                IMC
            </th>
            <th>
                Foto
            </th>
            <th></th>
        </tr>
        
        @foreach (var item in Model.OrderBy(model => model.FechaMedicion))
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaMedicionStr)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Altura) cm
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PesoActual) kg
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PesoDeseado) kg
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.MasaGrasa) %
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MasaCorporal) Kg/M²
        </td>
        <td>
            @if (item.FotoFrenteStr != "~/Content/Imagenes/user-icon.jpg" || item.FotoPerfilStr != "~/Content/Imagenes/user-icon.jpg")
            {
                @:SI
            }
            else
            {
                @:NO
            }
        </td>
        <td align="right">

            @Ajax.ActionLink("Actualizar", "EditParcial", "DatoAntropometrico", new { id = item.Id }, new AjaxOptions()
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "datosAntropometricos-Parcial",

            }, new { @class = "btn btn-warning btn-xs" })

            @Ajax.ActionLink("Detalles", "DetailsParcial", "DatoAntropometrico", new { id = item.Id }, new AjaxOptions()
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "datosAntropometricos-Parcial",

            }, new { @class = "btn btn-default btn-xs" })

            @if (item.Eliminado)
            {
                @Ajax.ActionLink("Activar", "DeleteParcial", "DatoAntropometrico", new { id = item.Id }, new AjaxOptions()
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "datosAntropometricos-Parcial",

                }, new { @class = "btn btn-info btn-xs" })
            }
            else
            {
                @Ajax.ActionLink("Eliminar", "DeleteParcial", "DatoAntropometrico", new { id = item.Id }, new AjaxOptions()
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "datosAntropometricos-Parcial",

                }, new { @class = "btn btn-danger btn-xs" })
            }
        </td>

    </tr>
        }

    </table>
</div>
