@model IEnumerable<NutricionWeb.Models.DatoAnalitico.DatoAnaliticoViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PacienteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PacienteStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColesterolHdl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaMedicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColesterolLdl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColesterolTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresionDiastolica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresionSistolica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trigliceridos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eliminado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PacienteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PacienteStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColesterolHdl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaMedicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColesterolLdl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColesterolTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresionDiastolica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresionSistolica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trigliceridos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eliminado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
