@model NutricionWeb.Models.Paciente.PacienteViewModel

@{
    ViewBag.Title = "Delete";
}


<div class="row">
    <div class="titulo-ABM">
        <h4 class="detail-h4">Detalles del Paciente</h4>
    </div>

    <hr />
    <div class="col-md-7">
        <div class="col-md-8">
            <p class="info-style">
                @Html.DisplayNameFor(model => model.Codigo):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Codigo)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.ApyNom):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.ApyNom)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.Dni):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Dni)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.Direccion):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Direccion)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.Mail):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Mail)
                </span>
            </p>

        </div>

        <div class="col-md-4">

            <p class="info-style">
                @Html.DisplayNameFor(model => model.Edad):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Edad) años
                </span>
            </p>



            <p class="info-style">
                @Html.DisplayNameFor(model => model.SexoStr):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.SexoStr)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.Telefono):

                <span class="sub-info">
                    @Html.DisplayFor(model => model.Telefono)
                </span>
            </p>



            <p class="info-style">
                @Html.DisplayNameFor(model => model.Celular):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Celular)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.EliminadoStr):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.EliminadoStr)
                </span>
            </p>



        </div>
    </div>

    @if (Model.FotoStr != null)
    {
        <div class="col-md-5">
            <div class="imagen-fondo">
                <img src="@Url.Content(Model.FotoStr)" alt="Image" style="margin-left: 60px; width:100%; height: 340px; max-width: 240px; max-height: 340px;" />
            </div>
        </div>
    }


</div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @if (Model.Eliminado)
    {
        <input type="submit" value="Activar" class="btn btn-info"/>

    }
    else
    {
        <input type="submit" value="Eliminar" class="btn btn-danger" />

    }
    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })

</div>
    }
