@model NutricionWeb.Models.Paciente.PacienteViewModel

@{
    ViewBag.Title = "Details";
}



<div class="row">
    <div class="titulo-ABM">
        <h4 class="detail-h4">Detalles del Paciente</h4>
    </div>

    <hr />
    <div class="col-md-8">
        <div class="col-md-7">
            <p class="info-style">
                @Html.DisplayNameFor(model => model.Codigo):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Codigo)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.ApyNom):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.ApyNom)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.Dni):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Dni)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.Direccion):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Direccion)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.Mail):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Mail)
                </span>
            </p>

        </div>

        <div class="col-md-5">

            <p class="info-style">
                @Html.DisplayNameFor(model => model.Edad):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Edad) años
                </span>
            </p>



            <p class="info-style">
                @Html.DisplayNameFor(model => model.SexoStr):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.SexoStr)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.Telefono):

                <span class="sub-info">
                    @Html.DisplayFor(model => model.Telefono)
                </span>
            </p>



            <p class="info-style">
                @Html.DisplayNameFor(model => model.Celular):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Celular)
                </span>
            </p>


            <p class="info-style">
                @Html.DisplayNameFor(model => model.EliminadoStr):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.EliminadoStr)
                </span>
            </p>



        </div>
    </div>

    @if (Model.FotoStr != null)
    {
        <div class="col-md-4">
            <div class="imagen-fondo">
                <img src="@Url.Content(Model.FotoStr)" alt="Image" style="margin-left: 60px; width:100%; height: 340px; max-width: 240px; max-height: 340px;" />
            </div>
        </div>
    }


</div>
@if (User.IsInRole("Administrador"))
{
    <div class="row" style="margin-left: 15px;">
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })
            @if (Model.TieneObservacion == false)
            {
                @Html.ActionLink("Observaciones", "Create", "Observacion", new { pacienteId = Model.Id }, new { @class = "btn btn-info" })
            }
            else
            {
                @Html.ActionLink("Observaciones", "Details", "Observacion", new { id = Model.Id }, new { @class = "btn btn-default" })

            }
        </p>
    </div>
}


<hr />

<div class="titulo-ABM">
    <h4 class="detail-h4">Turnos</h4>
</div>



<table class="table">
    <tr class="cabecera-tabla">
        <th>
            Fecha
        </th>
        <th>
            Hora
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Turnos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntradaStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioEntradaStr)
            </td>

            <td align="right">
                @Html.ActionLink("Detalles", "Details", "Turno", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>

<hr />

<div class="titulo-ABM">
    <h4 class="detail-h4">Planes Alimenticios</h4>
</div>


<table class="table">
    <tr class="cabecera-tabla">
        <th>
            Fecha
        </th>
        <th>
            Hora
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.PlanesAlimenticios)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraStr)
            </td>

            <td align="right">
                @Html.ActionLink("Detalles", "Details", "PlanAlimenticio", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>

<hr />

<div class="titulo-ABM">
    <h4 class="detail-h4">Datos Analiticos</h4>
</div>



<table class="table">
    <tr class="cabecera-tabla">
        <th>
            Fecha
        </th>
        <th>
            Hora
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.DatosAnaliticos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMedicionStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraMedicionStr)
            </td>

            <td align="right">
                @Html.ActionLink("Detalles", "Details", "DatoAnalitico", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>

<hr />

<div class="titulo-ABM">
    <h4 class="detail-h4">Datos Antropometricos</h4>
</div>



<table class="table">
    <tr class="cabecera-tabla">
        <th>
            Fecha
        </th>
        <th>
            Hora
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.DatosAntropometricos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMedicionStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraMedicionStr)
            </td>

            <td align="right">
                @Html.ActionLink("Detalles", "Details", "DatoAntropometrico", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>