@model NutricionWeb.Models.Paciente.PacienteViewModel

@{
    ViewBag.Title = "Paciente";
}

<div class="row">
    <div class="titulo-ABM">
        <h4 class="detail-h4">@Html.DisplayFor(model => model.ApyNom)</h4>
    </div>

    <hr />
    <div class="col-md-8">
        <div class="col-md-7">
            <br/>
            <p class="info-style">
                @Html.DisplayNameFor(model => model.FechaAltaStr):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.FechaAltaStr)
                </span>
            </p>

            <p class="info-style">
                @Html.DisplayNameFor(model => model.Dni):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Dni)
                </span>
            </p>

            <p class="info-style">
                @Html.DisplayNameFor(model => model.Cuit):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Cuit)
                </span>
            </p>

            <p class="info-style">
                @Html.DisplayNameFor(model => model.Mail):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Mail)
                </span>
            </p>

        </div>

        <div class="col-md-5">
            <br/>
            <p class="info-style">
                @Html.DisplayNameFor(model => model.Edad):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Edad) años
                </span>
            </p>

            <p class="info-style">
                @Html.DisplayNameFor(model => model.SexoStr):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.SexoStr)
                </span>
            </p>

            <p class="info-style">
                @Html.DisplayName("Obra Social"):

                <span class="sub-info">
                    @Html.DisplayFor(model => model.Telefono)
                </span>
            </p>

            <p class="info-style">
                @Html.DisplayNameFor(model => model.Celular):
                <span class="sub-info">
                    @Html.DisplayFor(model => model.Celular)
                </span>
            </p>

        </div>
    </div>

    @if (Model.FotoStr != null)
    {
        <div class="col-md-4">
            <div>
                <img src="@Url.Content(Model.FotoStr)" alt="Image" style="margin-left: 60px; width:100%; height: 260px; max-width: 240px; max-height: 340px;" />
            </div>
        </div>
    }


</div>
@if (User.IsInRole("Administrador"))
{
    <div class="row" style="margin-left: 15px;">
        <p>
            @Html.ActionLink("Actualizar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Lista de pacientes", "Index", new { }, new { @class = "btn btn-default" })
            
        </p>
    </div>
}