@using PagedList.Mvc;
@model PagedList.IPagedList<NutricionWeb.Models.Paciente.PacienteViewModel>

@{
    ViewBag.Title = "Paciente";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Pacientes</h4>
</div>

<div class="row">
    <div class="col-lg-6" align="left">
        <div class="btn-group">
            @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary-custom1" })
            @if (@ViewBag.Eliminado == false)
            {
                @Html.ActionLink("Ver Eliminados", "Index", new { eliminado = true }, new { @class = "btn btn-primary-custom" })

            }
            else
            {
                @Html.ActionLink("Ver Eliminados", "Index", new { eliminado = false }, new { @class = "btn btn-primary-custom" })

            }
        </div>
    </div>
    <div class="col-lg-6" align="right">
        <form class="navbar-form navbar-right">
            @using (Html.BeginForm("Index", "Paciente", FormMethod.Get))
            {
                <form class="form-group-lg">
                    @Html.TextBox("CadenaBuscar", ViewBag.FilterValue as string, new { placeholder = "Ingrese una cadena...", @class = "form-control", autocomplete = "off" })
                    <button type="submit" class="btn btn-default">Buscar</button>
                </form>
            }
        </form>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <tr class="cabecera-tabla">
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApyNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Celular)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr onclick="datosAdicionales(@item.Id)" id="@item.Id" onmouseover="oscurecerFila(@item.Id,1)" onmouseout="oscurecerFila(@item.Id,2)">
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAltaStr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApyNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>

                <td align="right">

                    @if (!item.Eliminado)
                {
                        <div>
                            @Html.ActionLink("Actualizar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                        </div>
                    }
                    else
                    {
                        @Html.ActionLink("Activar", "Delete", new { id = item.Id }, new { @class = "btn btn-info btn-xs" })
                    }
                </td>
            </tr>
        }

    </table>
</div>

<div align="center">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", "Paciente", new { page, cadenaBuscar = ViewBag.FilterValue }))
</div>

@section Scripts
{
    <script>

        //====================JavaScriptPuro====================

        var oscurecerFila = function(id, accion) {
            var fila = document.getElementById(id);
            if (accion === 1) {
                fila.style.backgroundColor = "#89bc94";
                fila.style.color = "white";
                fila.style.cursor = "pointer";
            } else {
                fila.style = null;
            }
        }

        var datosAdicionales = function(id) {
            var url = '@Url.Action("DatosAdicionales", "Paciente")';
            window.location.href = url + "?id=" + id;
        }
    </script>
}
