@model NutricionWeb.Models.Observacion.ObservacionViewModel


<div class="row">
    <div class="col-md-7">



        <p class="info-style">
            @Html.DisplayNameFor(model => model.Fumador):
            <span class="sub-info">
                @Html.DisplayFor(model => model.FumadorStr)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.BebeAlcohol):
            <span class="sub-info">
                @Html.DisplayFor(model => model.BebeAlcoholStr)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.EstadoCivil):
            <span class="sub-info">
                @Html.DisplayFor(model => model.EstadoCivil)
            </span>
        </p>
    </div>

    <div class="col-md-5">
        <p class="info-style">
            @Html.DisplayNameFor(model => model.TuvoHijo):
            <span class="sub-info">
                @Html.DisplayFor(model => model.TuvoHijoStr)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.CantidadHijo):
            <span class="sub-info">
                @Html.DisplayFor(model => model.CantidadHijo)
            </span>
        </p>


        <p class="info-style">
            @Html.DisplayNameFor(model => model.CantidadSuenio):
            <span class="sub-info">
                @Html.DisplayFor(model => model.CantidadSuenio)
            </span>
        </p>

    </div>
    


        


</div>
<p style="margin-top: 15px;">
    @Ajax.ActionLink("Actualizar","EditParcial","Observacion",new{ id = (long) ViewBag.PacienteId },new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "observaciones-Parcial",

    },new {@class="btn btn-warning"})
</p>

<hr />

<p>
    @Ajax.ActionLink("Agregar Patologia","CreateParcial", "ObservacionPatologia", new{ observacionId = Model.Id, pacienteId = (long) ViewBag.PacienteId },new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "observaciones-Parcial",

    },new {@class="btn btn-primary-custom"})
    @*@Html.ActionLink("Agregar Patologia", "Create", "ObservacionPatologia", new { observacionId = Model.Id }, new { @class = "btn btn-primary" })*@
</p>

<table class="table">
    <tr class="cabecera-tabla">
        <th>
            @Html.DisplayNameFor(model => model.Patologias.FirstOrDefault().Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patologias.FirstOrDefault().Descripcion)
        </th>



        <th></th>
    </tr>

    @foreach (var item in Model.Patologias)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td align="right">
                @*@Ajax.ActionLink("Eliminar", "Delete", "ObservacionPatologia", new{ observacionId = Model.Id, patologiaId = item.Id },new AjaxOptions()
               {
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "observaciones-Parcial",

               },new {@class="btn btn-danger"})*@
                @Html.ActionLink("Eliminar", "Delete", "ObservacionPatologia", new {observacionId = Model.Id, patologiaId = item.Id}, new {@class = "btn btn-danger"})
            </td>


        </tr>
    }

</table>

<hr />

<p>
    @Ajax.ActionLink("Agregar Alergia/Intolerancia", "CreateParcial", "ObservacionAlergiaIntolerancia", new{ observacionId = Model.Id, pacienteId = (long)ViewBag.PacienteId },new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "observaciones-Parcial",

    },new {@class="btn btn-primary-custom"})
    @*@Html.ActionLink("Agregar Alergia/Intolerancia", "Create", "ObservacionAlergiaIntolerancia", new { observacionId = Model.Id }, new { @class = "btn btn-primary" })*@
</p>


<table class="table">
    <tr class="cabecera-tabla">
        <th>
            @Html.DisplayNameFor(model => model.AlergiasIntolerancias.FirstOrDefault().Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlergiasIntolerancias.FirstOrDefault().Descripcion)
        </th>



        <th></th>
    </tr>

    @foreach (var item in Model.AlergiasIntolerancias)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td align="right">
                @*@Ajax.ActionLink("Eliminar", "Delete", "ObservacionAlergiaIntolerancia", new{ observacionId = Model.Id, alergiaId = item.Id },new AjaxOptions()
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "observaciones-Parcial",

                },new {@class="btn btn-danger"})*@
                @Html.ActionLink("Eliminar", "Delete", "ObservacionAlergiaIntolerancia", new {observacionId = Model.Id, alergiaId = item.Id}, new {@class = "btn btn-danger"})

            </td>

        </tr>
    }

</table>

<hr />

<p>
    @Ajax.ActionLink("Agregar Alimento Rechazado", "CreateParcial", "ObservacionAlimento", new{ observacionId = Model.Id, pacienteId = (long)ViewBag.PacienteId },new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "observaciones-Parcial",

    },new {@class="btn btn-primary-custom"})
    @*@Html.ActionLink("Agregar Alimento Rechazado", "Create", "ObservacionAlimento", new { observacionId = Model.Id }, new { @class = "btn btn-primary" })*@
</p>


<table class="table">
    <tr class="cabecera-tabla">
        <th>
            @Html.DisplayNameFor(model => model.Alimentos.FirstOrDefault().Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alimentos.FirstOrDefault().Descripcion)
        </th>



        <th></th>
    </tr>

    @foreach (var item in Model.Alimentos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td align="right">
                @*@Ajax.ActionLink("Eliminar", "Delete", "ObservacionAlimento", new{ observacionId = Model.Id, alimentoId = item.Id },new AjaxOptions()
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "observaciones-Parcial",

                },new {@class="btn btn-danger"})*@
                @Html.ActionLink("Eliminar", "Delete", "ObservacionAlimento", new {observacionId = Model.Id, alimentoId = item.Id}, new {@class = "btn btn-danger"})

            </td>

        </tr>
    }

</table>
<hr />