@model NutricionWeb.Models.Observacion.ObservacionViewModel


<div class="row">
    <div class="col-md-7">

        <p class="info-style">
            @Html.DisplayNameFor(model => model.AntecedentesFamiliares):
            <span class="sub-info">
                @Html.DisplayFor(model => model.AntecedentesFamiliares)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Tabaco):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Tabaco)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Alcohol):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Alcohol)
            </span>
        </p>
        <p class="info-style">
            @Html.DisplayNameFor(model => model.ActividadFisica):
            <span class="sub-info">
                @Html.DisplayFor(model => model.ActividadFisica)
            </span>
        </p>

    </div>

    <div class="col-md-5">

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Medicacion):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Medicacion)
            </span>
        </p>
        <p class="info-style">
            @Html.DisplayNameFor(model => model.HorasSuenio):
            <span class="sub-info">
                @Html.DisplayFor(model => model.HorasSuenio)
            </span>
        </p>




        <p class="info-style">
            @Html.DisplayNameFor(model => model.RitmoEvacuatorio):
            <span class="sub-info">
                @Html.DisplayFor(model => model.RitmoEvacuatorio)
            </span>
        </p>

        

    </div>
    


        


</div>
<p style="margin-top: 15px;">
    @Ajax.ActionLink("Actualizar","EditParcial","Observacion",new{ id = (long) ViewBag.PacienteId },new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "observaciones-Parcial",

    },new {@class="btn btn-warning"})
</p>
