@model IEnumerable<NutricionWeb.Models.PlanAlimenticio.PlanAlimenticioViewModel>
<br />

<div class="row">
    <div class="col-lg-6" align="left">
        <div class="btn-group">
            @Ajax.ActionLink("Nuevo", "CreateParcial", "PlanAlimenticio", new { id = (long)ViewBag.PacienteId }, new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "planesAlimenticios-Parcial",

    }, new { @class = "btn btn-primary-custom" })

            @if (@ViewBag.Eliminado == false)
            {

                @Ajax.ActionLink("Ver Eliminado", "PlanesAlimenticiosParcial", "Paciente", new { id = (long)ViewBag.PacienteId, eliminado = !ViewBag.Eliminado }, new AjaxOptions()
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "planesAlimenticios-Parcial",

                }, new { @class = "btn btn-primary-custom" })
            }
            else
            {
                @Ajax.ActionLink("Ver Activos", "PlanesAlimenticiosParcial", "Paciente", new { id = (long)ViewBag.PacienteId, eliminado = !ViewBag.Eliminado }, new AjaxOptions()
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "planesAlimenticios-Parcial",

                }, new { @class = "btn btn-primary-custom" })

            }
        </div>
    </div>
</div>

<br />

<div class="table-responsive">
    <table class="table">
        <tr class="cabecera-tabla">
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Motivo)
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr filaPlan id="@item.Id" onmouseover="oscurecerFila(@item.Id,1)" onmouseout="oscurecerFila(@item.Id,2)">
                <td>
                    @Html.DisplayFor(modelItem => item.FechaStr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motivo)
                </td>


                <td align="right">
                    @Ajax.ActionLink("Actualizar", "EditParcial", "PlanAlimenticio", new { id = item.Id }, new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "planesAlimenticios-Parcial",

                    }, new { @class = "btn btn-warning btn-xs" })

                    @Ajax.ActionLink("Detalles", "DetailsParcial", "PlanAlimenticio", new { id = item.Id }, new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "planesAlimenticios-Parcial",

                    }, new { @class = "btn btn-default btn-xs" })

                    @if (item.Eliminado)
                    {
                        @Ajax.ActionLink("Activar", "DeleteParcial", "PlanAlimenticio", new { id = item.Id }, new AjaxOptions()
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "planesAlimenticios-Parcial",

                        }, new { @class = "btn btn-info btn-xs" })
                    }
                    else
                    {
                        @Ajax.ActionLink("Eliminar", "DeleteParcial", "PlanAlimenticio", new { id = item.Id }, new AjaxOptions()
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "planesAlimenticios-Parcial",

                        }, new { @class = "btn btn-danger btn-xs" })
                    }

                </td>
            </tr>
        }

    </table>
</div>

<script>

    //====================JavaScriptPuro====================


    var oscurecerFila = function(id, accion) {
        var fila = document.getElementById(id);
        if (accion === 1) {
            fila.style.backgroundColor = "#89bc94";
            fila.style.color = "white";
            fila.style.cursor = "pointer";
        } else {
            fila.style = null;
        }
    }

    var datosAdicionales = function(id) {
        var url = '@Url.Action("ExportarPlanOrdenado", "PlanAlimenticio")';
        window.location.href = url + "?id=" + id;
    }

    $(document).on("click", "tr[filaPlan]", function(e) {   
        if (e.target.nodeName !== "A") {
            datosAdicionales(this.id);
        }      
    });

   
</script>
