@model IEnumerable<NutricionWeb.Models.Turno.TurnoViewModel>

<br/>
<div class="row">
    <div class="col-lg-6" align="left">
        <div class="btn-group">
            @Ajax.ActionLink("Nuevo", "CreateParcial", "Turno", new { id = (long)ViewBag.PacienteId }, new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "turnos-Parcial",

    }, new { @class = "btn btn-primary-custom" })
        </div>
    </div>
</div>
<br/>
<div class="table-responsive">
    <table class="table">
        <tr class="cabecera-tabla">
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Numero)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PacienteStr)
            </th>

            <th>
                Fecha
            </th>
            <th>
                Horario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Eliminado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PacienteStr)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FechaEntradaStr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorarioEntradaStr) -
                    @Html.DisplayFor(modelItem => item.HorarioSalidaStr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EliminadoStr)
                </td>
                <td align="right">
                    @Html.ActionLink("Actualizar", "Edit", "Turno", new { id = item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Detalles", "Details", "Turno", new { id = item.Id }, new { @class = "btn btn-default" })
                    @if (item.Eliminado)
                    {
                        @Html.ActionLink("Activar", "Delete", "Turno", new { id = item.Id }, new { @class = "btn btn-info" })

                    }
                    else
                    {
                        @Html.ActionLink("Eliminar", "Delete", "Turno", new { id = item.Id }, new { @class = "btn btn-danger" })

                    }
                </td>
            </tr>
        }

    </table>
</div>