@model IEnumerable<NutricionWeb.Models.Turno.TurnoViewModel>

<br/>
<div class="row">
    <div class="col-lg-6" align="left">
        <div class="btn-group">
            @Ajax.ActionLink("Nuevo", "CreateParcial", "Turno", new { id = (long)ViewBag.PacienteId }, new AjaxOptions()
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "turnos-Parcial",

            }, new { @class = "btn btn-primary-custom" })
            @if (@ViewBag.Eliminado == false)
            {

                @Ajax.ActionLink("Ver Eliminado", "TurnosParcial", "Paciente", new { id = (long)ViewBag.PacienteId, eliminado = !ViewBag.Eliminado }, new AjaxOptions()
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "turnos-Parcial",

                }, new { @class = "btn btn-primary-custom" })
            }
            else
            {
                @Ajax.ActionLink("Ver Activos", "TurnosParcial", "Paciente", new { id = (long)ViewBag.PacienteId, eliminado = !ViewBag.Eliminado }, new AjaxOptions()
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "turnos-Parcial",

                }, new { @class = "btn btn-primary-custom" })

            }
        </div>
    </div>
</div>
<br/>
<div class="table-responsive">
    <table class="table">
        <tr class="cabecera-tabla">
            
            <th>
                Fecha
            </th>
            <th>
                Horario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Motivo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEntradaStr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorarioEntradaStr) -
                    @Html.DisplayFor(modelItem => item.HorarioSalidaStr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motivo)
                </td>
                <td align="right">
                    @Ajax.ActionLink("Actualizar", "EditParcial", "Turno", new { id = item.Id }, new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "turnos-Parcial",

                    }, new { @class = "btn btn-warning btn-xs" })

                    @Ajax.ActionLink("Detalles", "DetailsParcial", "Turno", new { id = item.Id }, new AjaxOptions()
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "turnos-Parcial",

                    }, new { @class = "btn btn-default btn-xs" })

                    @if (item.Eliminado)
                    {
                        @Ajax.ActionLink("Activar", "DeleteParcial", "Turno", new { id = item.Id }, new AjaxOptions()
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "turnos-Parcial",

                        }, new { @class = "btn btn-info btn-xs" })
                    }
                    else
                    {
                        @Ajax.ActionLink("Eliminar", "DeleteParcial", "Turno", new { id = item.Id }, new AjaxOptions()
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "turnos-Parcial",

                        }, new { @class = "btn btn-danger btn-xs" })
                    }
                </td>
            </tr>
        }

    </table>
</div>

<script type="text/javascript">
    $(function () {
        console.log("ads");
    });
    
</script>