@model NutricionWeb.Models.Comida.ComidaViewModel

@{
    ViewBag.Title = "Comidas";
}

<div class="titulo-ABM">
    <h4 class="detail-plan-h4">Detalles del Plan - @Model.DiaStr: @Model.Descripcion</h4>
</div>

<div class="row">
    <hr />
    <div class="col-md-7" style="margin-left: 10px;">

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Descripcion):
            <span class="sub-info">

                @Html.DisplayFor(model => model.Descripcion)
            </span>

        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.DiaStr):
            <span class="sub-info">
                @Html.DisplayFor(model => model.DiaStr)
            </span>

        </p>


    </div>

</div>
<p style="margin-left: 10px;">
    @Html.ActionLink("Ver Recetas", "Index", "Opcion", new { }, new { @class = "btn btn-primary-custom" , target ="_blank"})

    @Html.ActionLink("Agregar Receta", "Create", "ComidaDetalle", new { comidaId = Model.Id }, new { @class = "btn btn-primary-custom" })

    @Html.ActionLink("Volver al Dia", "Details", "Dia", new { id = Model.DiaId }, new { @class = "btn btn-default" })
</p>

<hr />

<div class="titulo-ABM">
    <h4 class="detail-h4">Opciones</h4>
</div>

<table class="table">
    <tr class="cabecera-tabla">
        <th>
            @Html.DisplayNameFor(model => model.ComidasDetalles.FirstOrDefault().OpcionStr)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.ComidasDetalles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OpcionStr)
            </td>

            <td align="right">
                @Html.ActionLink("Detalles", "Details", "Opcion", new { id = item.OpcionId }, new { @class = "btn btn-default", target = "_blank" })
                @Html.ActionLink("Eliminar", "Eliminar", "ComidaDetalle", new { comidaId = Model.Id, detalleId = item.Id}, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>