@using PagedList.Mvc
@model PagedList.IPagedList<NutricionWeb.Models.UnidadMedida.UnidadMedidaViewModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Abreviatura)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(model => model.Descripcion))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abreviatura)
            </td>

            <td>
                <input type="button" id="seleccionar-unidad" name="@item.Id" class="btn btn-primary-custom" value="Seleccionar" />
            </td>
        </tr>
    }

</table>

<div align="center">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("BuscarUnidad", "MicroNutrienteDetalle", new { page, cadenaBuscar = ViewBag.FilterValue }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "partialFindUnidad" }))
</div>
