@using PagedList.Mvc;
@model PagedList.IPagedList<NutricionWeb.Models.AlergiaIntolerancia.AlergiaIntoleranciaViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Alergias e Intolerancias</h4>
</div>

<p>
    @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary" })
</p>

<div class="table-responsive">
<table class="table">
    <tr class="cabecera-tabla">
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Eliminado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EliminadoStr)
            </td>
            <td align="right">
                @Html.ActionLink("Actualizar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                @if (item.Eliminado)
                {
                    @Html.ActionLink("Activar", "Delete", new {id = item.Id}, new {@class = "btn btn-info"})

                }
                else
                {
                    @Html.ActionLink("Eliminar", "Delete", new {id = item.Id}, new {@class = "btn btn-danger"})

                }
            </td>
        </tr>
    }

</table>
    </div>
