@model IEnumerable<NutricionWeb.Models.Alimento.AlimentoViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubGrupoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubGrupoStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eliminado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MacroNutrienteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TieneMacroNutriente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubGrupoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubGrupoStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eliminado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MacroNutrienteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TieneMacroNutriente)
        </td>
        <td>
            <input type="button" id="seleccionar-alimento" name="@item.Id" class="btn btn-primary" value="Seleccionar" />
        </td>
    </tr>
}

</table>
