@model NutricionWeb.Models.Estado.EstadoViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Estado</h4>
</div>

<div class="row">
    <hr />
    <div class="col-md-7">

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Descripcion):
            <span class="sub-info">

                @Html.DisplayFor(model => model.Descripcion)
            </span>

        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Color):
            <div style="background-color: @Model.Color; height: 30px; width: 30px"></div>

        </p>
    </div>

</div>


<div class="row">
    <div class="col">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Descripcion)
            @Html.HiddenFor(x => x.Color)

            <div class="form-actions no-color" style="margin-left: 20px;">
                @if (Model.Eliminado)
                {
                    <input type="submit" value="Activar" class="btn btn-info" />

                }
                else
                {
                    <input type="submit" value="Eliminar" class="btn btn-danger" />

                }
                @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })

            </div>
        }
    </div>
</div>