@model NutricionWeb.Models.DatoAntropometrico.DatoAntropometricoViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Datos Antropométricos</h4>
</div>

<div class="row" style="margin: 10px 10px;">
    <hr />
    <div class="col-md-7">
        <p class="info-style">
            @Html.DisplayNameFor(model => model.Codigo):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Codigo)
            </span>
        </p>


        <p class="info-style">
            @Html.DisplayNameFor(model => model.PacienteStr):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PacienteStr)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Peso):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Peso)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Altura):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Altura)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PerimetroCadera):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PerimetroCadera)
            </span>
        </p>


    </div>
    <div class="col-md-5">
        <p class="info-style">
            @Html.DisplayNameFor(model => model.PerimetroCintura):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PerimetroCintura)
            </span>
        </p>
        <p class="info-style">
            @Html.DisplayNameFor(model => model.FechaMedicion):
            <span class="sub-info">
                @Html.DisplayFor(model => model.FechaMedicionStr)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.MasaGrasa):
            <span class="sub-info">
                @Html.DisplayFor(model => model.MasaGrasa)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.MasaCorporal):
            <span class="sub-info">
                @Html.DisplayFor(model => model.MasaCorporal)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Eliminado):
            <span class="sub-info">
                @Html.DisplayFor(model => model.EliminadoStr)
            </span>
        </p>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left: 20px;">
            @if (Model.Eliminado)
            {
                <input type="submit" value="Activar" class="btn btn-info"/>

            }
            else
            {
                <input type="submit" value="Eliminar" class="btn btn-danger"/>

            }
            @Html.ActionLink("Volver", "Index", new {}, new {@class = "btn btn-default"})

        </div>
    }
</div>
