@model NutricionWeb.Models.DatoAntropometrico.DatoAntropometricoViewModel

@{
    ViewBag.Title = "Antropométrico";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Datos Antropométricos</h4>
</div>

<div class="row" style="margin: 10px 10px;">
    <hr />
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <br />

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PacienteStr):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PacienteStr)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.FechaMedicion):
            <span class="sub-info">
                @Html.DisplayFor(model => model.FechaMedicionStr)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PesoActual):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PesoActual) kg
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PesoHabitual):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PesoHabitual) kg
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PesoDeseado):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PesoDeseado) kg
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PesoIdeal):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PesoIdeal) kg
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Altura):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Altura) cm
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PerimetroCuello):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PerimetroCuello) cm
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PerimetroCadera):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PerimetroCadera) cm
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PerimetroCintura):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PerimetroCintura) cm
            </span>
        </p>


        <p class="info-style">
            @Html.DisplayNameFor(model => model.MasaGrasa):
            <span class="sub-info">
                @Html.DisplayFor(model => model.MasaGrasa) %
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.MasaCorporal):
            <span class="sub-info">
                @Html.DisplayFor(model => model.MasaCorporal) Kg/M²
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PliegueTriceps):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PliegueTriceps) mm
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PliegueAbdominal):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PliegueAbdominal) mm
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PliegueMuslo):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PliegueMuslo) mm
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PlieguePierna):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PlieguePierna) mm
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PliegueSubescapular):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PliegueSubescapular) mm
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PliegueSuprailiaco):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PliegueSuprailiaco) mm
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.TotalPliegues):
            <span class="sub-info">
                @Html.DisplayFor(model => model.TotalPliegues) mm
            </span>
        </p>

    </div>
    <div class="col-md-offset-1 col-md-5">

        @if (Model.FotoStr != null)
        {
            <div class="col">
                <div class="imagen-fondo">
                    <img src="@Url.Content(Model.FotoStr)" alt="Image" style="width:100%; height: auto;" />
                </div>
            </div>
        }
    </div>

    <div class="col-md-1"></div>


</div>

<div class="row">
    <div class="col">
        <p style="margin-top: 15px; margin-left: 10px">
            @Ajax.ActionLink("Volver","DatosAntropometricosParcial","Paciente",new{ id= @Model.PacienteId },new AjaxOptions()
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "datosAntropometricos-Parcial",

            },new {@class="btn btn-default"})
        </p>
    </div>
</div>
