@model NutricionWeb.Models.Opcion.OpcionViewModel

@{
    ViewBag.Title = "Details";
}


<div class="titulo-ABM">
    <h4 class="detail-h4">Detalles de: @Model.Descripcion</h4>
</div>


<p style="margin-left: 10px;">
    @Html.ActionLink("Nuevo Detalle", "Create", "OpcionDetalle", new { opcionId = Model.Id }, new { @class = "btn btn-primary-custom" })
    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-primary-custom" })

</p>

<hr />

<div class="titulo-ABM">
    <h4 class="detail-h4">Detalles</h4>
</div>

<table class="table">
    <tr class="cabecera-tabla">
        <th>
            @Html.DisplayNameFor(model => model.OpcionDetalles.FirstOrDefault().Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpcionDetalles.FirstOrDefault().AlimentoStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpcionDetalles.FirstOrDefault().CantidadMostrar)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model.OpcionDetalles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlimentoStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadMostrar)
            </td>


            <td align="right">
                @Html.ActionLink("Eliminar", "Delete", "OpcionDetalle", new {opcionId = Model.Id, detalleId = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>