@using PagedList.Mvc;
@model PagedList.IPagedList<NutricionWeb.Models.Opcion.OpcionViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Recetas Filtradas</h4>
</div>


<div class="row">
    <div class="col-lg-6" align="left">
        <div class="btn-group">
            @Html.ActionLink("Ir a Recetas", "Index", new { }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Volver", "BuscarRecetasPorAlimentos", new { }, new { @class = "btn btn-primary" })
        </div>
    </div>
    
</div>
<br />

<div class="table-responsive">
    <table class="table">
        <tr class="cabecera-tabla">
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.OrderBy(model => model.Descripcion))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td align="right">
                    @Html.ActionLink("Ver Receta", "Details", new { volver = 1 }, new { @class = "btn btn-default" })

                </td>
            </tr>
        }

    </table>
</div>

<div align="center">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", "Opcion", new { page, cadenaBuscar = ViewBag.FilterValue }))
</div>

