@model NutricionWeb.Models.Mensaje.MensajeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MensajeABMViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmailEmisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailEmisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailReceptor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailReceptor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuerpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuerpo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VistoStr)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.Name == Model.EmailReceptor)
    {
        @Html.ActionLink("Volver", "IndexRecibidos")
    }
    @if (User.Identity.Name == Model.EmailEmisor)
    {
        @Html.ActionLink("Volver", "IndexEnviados")

    }
</p>
