@model NutricionWeb.Models.Mensaje.MensajeViewModel

@{
    ViewBag.Title = "Details";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Mensaje</h4>
</div>

<div class="row">
    <p class="info-style" style="margin: 16px;">
        @Html.DisplayNameFor(model => model.Motivo):
        @Html.DisplayFor(model => model.Motivo)

    </p>
            
    <hr />
    <div class="row" style="margin: 2px;">
        <div class="col-md-6">
            <p class="info-style">
                @Html.DisplayNameFor(model => model.EmailEmisor):
                @Html.DisplayFor(model => model.EmailEmisor)
            </p>
        </div>
        <div class="col-md-6">
            <p class="info-style">
                @Html.DisplayNameFor(model => model.EmailReceptor):
                @Html.DisplayFor(model => model.EmailReceptor)
            </p>
        </div>
    </div>
</div>
<div class="row" style="margin: 2px;">
    <p class="sub-info">
        @Html.DisplayNameFor(model => model.Cuerpo):
        @Html.DisplayFor(model => model.Cuerpo)
    </p>
</div>
<p>
    @if (User.Identity.Name == Model.EmailReceptor)
    {
        @Html.ActionLink("Volver", "IndexRecibidos",new{}, new {@class="btn btn-default"})
    }
    @if (User.Identity.Name == Model.EmailEmisor)
    {
        @Html.ActionLink("Volver", "IndexEnviados",new{}, new { @class = "btn btn-default" })

    }
</p>
