@model NutricionWeb.Models.SubGrupo.SubGrupoViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">SubGrupos</h4>
</div>

<div class="row">
    <hr />
    <div class="col-md-7">
        <p class="info-style">
            @Html.DisplayNameFor(model => model.Codigo):
            <span class="sub-info">

                @Html.DisplayFor(model => model.Codigo)
            </span>

        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.GrupoStr):
            <span class="sub-info">

                @Html.DisplayFor(model => model.GrupoStr)
            </span>

        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Descripcion):
            <span class="sub-info">

                @Html.DisplayFor(model => model.Descripcion)
            </span>

        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Eliminado):
            <span class="sub-info">
                @Html.DisplayFor(model => model.EliminadoStr)
            </span>

        </p>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @if (Model.Eliminado)
        {
            <input type="submit" value="Activar" class="btn btn-info" />

        }
        else
        {
            <input type="submit" value="Eliminar" class="btn btn-danger" />

        }
        @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })

    </div>
}