@using PagedList.Mvc;
@model PagedList.IPagedList<NutricionWeb.Models.SubGrupo.SubGrupoViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Lista de SubGrupos</h4>
</div>

<p>
    @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr class="cabecera-tabla">
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().GrupoStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EliminadoStr)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrupoStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EliminadoStr)
            </td>
            <td>
                @Html.ActionLink("Actualizar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
