@using PagedList.Mvc
@model PagedList.IPagedList<NutricionWeb.Models.SubGrupo.SubGrupoViewModel>

<p>


    <div class="table-responsive">
        <table class="table">
            <tr class="cabecera-tabla">

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().GrupoStr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Descripcion)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.GrupoStr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>

                    <td align="right">
                        <input type="button" id="seleccionar-subgrupo" name="@item.Id" class="btn btn-primary-custom btn-xs" value="Seleccionar" />

                    </td>
                </tr>
            }

        </table>
    </div>

    <div align="center">
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("BuscarSubGrupo", "Alimento", new { page, cadenaBuscar = ViewBag.FilterValue }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "partialFindSubgrupo" }))
    </div>
