@model NutricionWeb.Models.Alimento.AlimentoABMViewModel

@{
    ViewBag.Title = "Create";
}

<div class="titulo-ABM">
    <h4 class="create-h4">Nuevo Alimento</h4>
</div>

<!--Modal -->
<div class="modal fade" id="modal-subgrupos" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @*Parte de arriba del modal*@
            <div class="modal-header">
                <div align="right">
                    <button type="button" class=" btn btn-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <br>
                <div class="jumbotron titulo-ABM" style="margin-bottom:5px">
                    <h2>Seleccionar SubGrupo</h2>
                </div>
            </div>
            @*Cuerpo del modal*@
            <div class="modal-body">
                <div class="form" style="height:382px">
                    <div class="form-group navbar-right">
                        <div class="col-md-4" style="width: 310px">
                            <input type="text" class="form-control " id="txt-BuscarSubgrupo" placeholder="Ingrese una cadena...">
                        </div>
                        <div class="col-md-2" align="left">
                            <div id="btn-BuscarSubgrupo" class="btn btn-default ">Buscar</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="partialFindSubgrupo"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelar-subgrupo" class="btn btn-primary-custom" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.SubGrupoId)



    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.SubGrupoStr, new { @class = "control-label col-md-2" })
        <div class="col-md-4" style="width: 310px">
            @Html.EditorFor(model => model.SubGrupoStr, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.SubGrupoStr, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2" align="left">
            <div id="btn-Subgrupo" class="btn btn-default" type="button" data-toggle="modal" data-target="#modal-subgrupos" value="Modal BuscarSubgrupos" title="Seleccionar subgrupo">...</div>
        </div>
    </div>


    <hr />

    <div class="titulo-ABM">
        <h4 class="create-h4">MacroNutrientes</h4>
    </div>

    <div class="row" style="margin-left: 5%;">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.MacroNutriente.HidratosCarbono)
            @Html.EditorFor(model => model.MacroNutriente.HidratosCarbono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MacroNutriente.HidratosCarbono, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.MacroNutriente.Grasa)
            @Html.EditorFor(model => model.MacroNutriente.Grasa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MacroNutriente.Grasa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row" style="margin-left: 5%;">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.MacroNutriente.Proteina)
            @Html.EditorFor(model => model.MacroNutriente.Proteina, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MacroNutriente.Proteina, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.MacroNutriente.Energia)
            @Html.EditorFor(model => model.MacroNutriente.Energia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MacroNutriente.Energia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row" style="margin-left: 5%;">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.MacroNutriente.Calorias)
            <div class="form-group">
                <div class="col-md-4" style="width: 310px">
                    @Html.EditorFor(model => model.MacroNutriente.Calorias, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.MacroNutriente.Calorias, "", new { @class = "text-danger" })

                </div>
                <div class="col-md-2" align="left">
                    <div id="btn-Total" class="btn btn-default" type="button">Calcular</div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Aceptar" class="btn btn-success" />
            @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

    $('#MacroNutriente_Energia,  #MacroNutriente_HidratosCarbono, #MacroNutriente_Grasa, #MacroNutriente_Proteina').on('input', function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });

        $(document).on("click",
            "#btn-Total",
            function() {

                var url = '@Html.Raw(Url.Action("CalcularCalorias", "MacroNutriente"))';

                $.get(url,
                    {
                        prote: $('#MacroNutriente_Proteina').val(),
                        hc: $('#MacroNutriente_HidratosCarbono').val(),
                        grasa: $('#MacroNutriente_Grasa').val()
                    },
                    function(total) {

                        $('#MacroNutriente_Calorias').val(total);

                    });
            });


        $(function () {

            $("#btn-Subgrupo").click(function() {
                    listaSubgrupo();
                }
            );

            $("#btn-BuscarSubgrupo").click(() => {
                listaSubgrupo();
            });


            function listaSubgrupo() {
                $("#partialFindSubgrupo").empty();

                $.get('@Html.Raw(Url.Action("BuscarSubGrupo", "Alimento"))',
                    {
                        cadenaBuscar: $("#txt-BuscarSubgrupo").val()
                    },
                    function (listaSubgrupo) {
                        $("#partialFindSubgrupo").append(listaSubgrupo);
                    });
            }



            $(document).on("click",
                "#seleccionar-subgrupo",
                function() {

                    var url = '@Html.Raw(Url.Action("TraerSubGrupo", "Alimento"))';

                    $.get(url,
                        { subGrupoId: $(this).attr("name") },
                        function(subGrupo) {
                            $('#SubGrupoStr').val(subGrupo.Descripcion);
                            $('#SubGrupoId').val(subGrupo.Id);
                            $('#cancelar-subgrupo').trigger("click");
                        });
                });


        });


</script>
}
