@model NutricionWeb.Models.Seguridad.UsuarioRolViewModel

@{
    ViewBag.Title = "Agregar Repartición";
}

<br />
<div class="jumbotron titulo-ABM">
    <h2>Agregar Rol al usuario: @Model.Usuario</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.UsuarioId);

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.RolId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RolId, Model.Roles, "Seleccione un rol", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "ObtenerRolesPorUsuario", new { usuarioId = @Model.UsuarioId }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

