@using PagedList.Mvc
@model PagedList.IPagedList<NutricionWeb.Models.Seguridad.UsuarioViewModel>

@{
    ViewBag.Title = "Usuarios";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Usuarios</h4>
</div>

<div class="row">
    <div class="col-lg-12" align="right">
        <form class="navbar-form navbar-right">
            @using (Html.BeginForm("Index", "Usuarios", FormMethod.Get))
            {
                <form class="form-group-lg">
                    @Html.TextBox("CadenaBuscar", ViewBag.FilterValue as string, new { placeholder = "Ingrese una cadena...", @class = "form-control" })
                    <button type="submit" class="btn btn-default">Buscar</button>
                </form>
            }
        </form>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr class="cabecera-grilla">
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EMail)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
                <td>
                    <div align="right">
                        @Html.ActionLink("Roles", "ObtenerRolesPorUsuario", new { usuarioId = item.UsuarioId }, new { @class = "btn btn-warning btn-xs" })
                    </div>
                </td>
            </tr>
        }

    </table>
</div>

<div align="center">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", "Usuarios", new { page, cadenaBuscar = ViewBag.FilterValue }))
</div>


