@model IEnumerable<NutricionWeb.Models.PlanAlimenticio.PlanAlimenticioViewModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PacienteStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.Eliminado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCalorias)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PacienteStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivo)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.EliminadoStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCalorias)
        </td>
        <td>
            <input type="button" id="seleccionar-plan" name="@item.Id" class="btn btn-primary" value="Seleccionar" />

        </td>
    </tr>
}

</table>
