@model NutricionWeb.Models.PlanAlimenticio.PlanAlimenticioViewModel

@{
    ViewBag.Title = "Plan";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Plan Alimenticio</h4>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.PacienteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacienteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PacienteStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacienteStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
