@model NutricionWeb.Models.PlanAlimenticio.PlanAlimenticioViewModel

@{
    ViewBag.Title = "Details";
}

<div class="titulo-ABM">
    <h4 class="detail-plan-h4">Detalles del Plan</h4>
</div>

<div class="row">
    <hr />
    <div class="col-md-7" style="margin-left: 10px;">

        <p class="info-style">
            @Html.DisplayNameFor(model => model.PacienteStr):
            <span class="sub-info">

                @Html.DisplayFor(model => model.PacienteStr)
            </span>

        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Motivo):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Motivo)
            </span>

        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Fecha):
            <span class="sub-info">
                @Html.DisplayFor(model => model.FechaStr)
            </span>

        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Comentarios):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Comentarios)
            </span>

        </p>
    </div>

</div>
<p style="margin-top: 15px; margin-left: 10px">
    @Html.ActionLink("Actualizar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Ir al Paciente", "Details","Paciente", new { id = Model.PacienteId }, new { @class = "btn btn-info" })

</p>

<hr />

<div class="titulo-ABM">
    <h4 class="detail-h4">Días</h4>
</div>

<table class="table">
    <tr class="cabecera-tabla">
        <th>
            @Html.DisplayNameFor(model => model.Dias.FirstOrDefault().Descripcion)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Dias)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>

            <td align="right">
                @Html.ActionLink("Detalles", "Details", "Dia", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
