@model NutricionWeb.Models.PlanAlimenticio.PlanAlimenticioVistaViewModel

@{
    ViewBag.Title = "ExportarPlanOrdenado";
}


    <div class="modal fade" id="modal-duplicar" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                @*Parte de arriba del modal*@
                <div class="modal-header">
                    <div align="right">
                        <button type="button" class=" btn btn-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <br>
                    <div class="jumbotron titulo-ABM" style="margin-bottom:5px">
                        <h2>Seleccionar Paciente</h2>
                    </div>
                </div>
                @*Cuerpo del modal*@
                <div class="modal-body">
                    <div class="form" style="height:382px">
                        @*<div class="form-group navbar-right">
                            <div class="col-md-4" style="width: 310px">
                                <input type="text" class="form-control " id="txt-BuscarPaciente" placeholder="Ingrese una cadena...">
                            </div>
                            <div class="col-md-2" align="left">
                                <div id="btn-BuscarPaciente" class="btn btn-default ">Buscar</div>
                            </div>
                        </div>*@
                        <div class="col-md-12">
                            <div id="partialFindDuplicarComida"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancelar-paciente" class="btn btn-primary-custom" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

<style>
    .row {
        display: table;
        width: 100%;
    }

    [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
</style>

<h2>ExportarPlanOrdenado</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style=" width:12.5%">

        </div>
        <div class="col-md-2 text-center" style="border-left:1px solid black; border-top:1px solid black; width:12.5%">
            Lunes
        </div>
        <div class="col-md-2 text-center" style="border-left:1px solid black; border-top:1px solid black;   width:12.5%">
            Martes
        </div>
        <div class="col-md-2 text-center" style="border-left:1px solid black; border-top:1px solid black;  width:12.5%; ">
            Miercoles
        </div>
        <div class="col-md-2 text-center" style="border-left:1px solid black;  border-top:1px solid black;  width:12.5%;">
            Jueves
        </div>
        <div class="col-md-2 text-center" style="border-left:1px solid black;  border-top:1px solid black;  width:12.5%;">
            Viernes
        </div>
        <div class="col-md-2 text-center" style="border-left:1px solid black; border-top:1px solid black;  width:12.5%; ">
            Sabado
        </div>
        <div class="col-md-2 text-center" style="border-right:1px solid black; border-top:1px solid black;  border-left:1px solid black; width:12.5%; ">
            Domingo
        </div>
    </div>

    <div class="row" id="desayuno">
        <div class="col-md-2" style="border-left:1px solid black; border-top:1px solid black;  width:12.5%">
            Desayuno
        </div>
        @foreach (var comida in Model.Desayunos)
        {
            if (Model.Desayunos.Last() == comida)
            {
                <div class="col-md-2 text-center" style=" border-left:1px solid black; border-top:1px solid black;  border-right:1px solid black; width:12.5%" id="@comida.DiaStr@comida.Descripcion">
                    @foreach (var detalle in comida.ComidasDetalles)
                    {
                        @detalle.OpcionStr @:.

                    }
                    @if (comida.ComidasDetalles.Count == 0)
                    {
                        <br />
                        <br />
                        <a href="@Url.Action("Create", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-primary btn-xs"><i class="fas fa-clone"></i></a>
                        <a href="@Url.Action("Create", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
                    }
                    else
                    {
                        <a href="@Url.Action("Create", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
                        <br />
                        <br />
                    }
                </div>
            }
            else
            {
                <div class="col-md-2 text-center" style=" border-left:1px solid black; border-top:1px solid black;  width:12.5%" id="@comida.DiaStr@comida.Descripcion">
                    @foreach (var detalle in comida.ComidasDetalles)
                    {
                        @detalle.OpcionStr @:.<br />
                    }

                    @if (comida.ComidasDetalles.Count == 0)
                    {
                        <br />
                        <br />
                        @*<a href="@Url.Action("Create", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-primary btn-xs"><i class="fas fa-clone"></i></a>*@
                        <div  id="@comida.Id" class="btn btn-danger btn-xs" duplicar><i class="far fa-clipboard"></i></div>
                        <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
                    }
                    else
                    {
                        <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
                        <br />
                        <br />
                    }

                </div>
            }

        }
    </div>
    <div class="row" id="mediaMañana">
        <div class="col-md-2" style="border-left:1px solid black; border-top:1px solid black;  width:12.5%">
            Media Mañana
        </div>
        @foreach (var comida in Model.MediaMañana)
        {
            if (Model.MediaMañana.Last() == comida)
            {
        <div class="col-md-2 text-center" style=" border-left:1px solid black; border-top:1px solid black;  border-right:1px solid black; width:12.5%">
            @foreach (var detalle in comida.ComidasDetalles)
            {
                @detalle.OpcionStr @:.
            }
            @if (comida.ComidasDetalles.Count == 0)
            {
                <br />
                <br />
                <a href="@Url.Action("Create", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-primary btn-xs"><i class="fas fa-clone"></i></a>
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
            }
            else
            {
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
                <br />
                <br />
            }
        </div>
            }
            else
            {
        <div class="col-md-2 text-center" style=" border-left:1px solid black; border-top:1px solid black;  width:12.5%">
            @foreach (var detalle in comida.ComidasDetalles)
            {
                @detalle.OpcionStr @:.<br />
            }
            @if (comida.ComidasDetalles.Count == 0)
            {
                <br />
                <br />
                <a href="@Url.Action("Create", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-primary btn-xs"><i class="fas fa-clone"></i></a>
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
            }
            else
            {
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
                <br />
                <br />
            }
        </div>
            }
        }
    </div>
    <div class="row" id="almuerzo">
        <div class="col-md-2" style="border-left:1px solid black; border-top:1px solid black;  width:12.5%">
            Almuerzo
        </div>
        @foreach (var comida in Model.Almuerzo)
        {
            if (Model.Almuerzo.Last() == comida)
            {
        <div class="col-md-2 text-center" style=" border-left:1px solid black; border-top:1px solid black;  border-right:1px solid black; width:12.5%">
            @foreach (var detalle in comida.ComidasDetalles)
            {
                @detalle.OpcionStr @:.
            }
            @if (comida.ComidasDetalles.Count == 0)
            {
                <br />
                <br />
                <a href="@Url.Action("Create", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-primary btn-xs"><i class="fas fa-clone"></i></a>
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
            }
            else
            {
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
                <br />
                <br />
            }
        </div>
            }
            else
            {
        <div class="col-md-2 text-center" style=" border-left:1px solid black; border-top:1px solid black;  width:12.5%">
            @foreach (var detalle in comida.ComidasDetalles)
            {
                @detalle.OpcionStr @:.<br />
            }
            @if (comida.ComidasDetalles.Count == 0)
            {
                <br />
                <br />
                <a href="@Url.Action("Create", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-primary btn-xs"><i class="fas fa-clone"></i></a>
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
            }
            else
            {
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
                <br />
                <br />
            }
        </div>
            }
        }
    </div>
    <div class="row" id="merienda">
        <div class="col-md-2" style="border-left:1px solid black; border-top:1px solid black;  width:12.5%">
            Merienda
        </div>
        @foreach (var comida in Model.Merienda)
        {
            if (Model.Merienda.Last() == comida)
            {
        <div class="col-md-2 text-center" style=" border-left:1px solid black; border-top:1px solid black;  border-right:1px solid black; width:12.5%">
            @foreach (var detalle in comida.ComidasDetalles)
            {
                @detalle.OpcionStr @:.
            }
            @if (comida.ComidasDetalles.Count == 0)
            {
                <br />
                <br />
                <a href="@Url.Action("Create", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-primary btn-xs"><i class="fas fa-clone"></i></a>
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
            }
            else
            {
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
                <br />
                <br />
            }
        </div>
            }
            else
            {
        <div class="col-md-2 text-center" style=" border-left:1px solid black; border-top:1px solid black;  width:12.5%">
            @foreach (var detalle in comida.ComidasDetalles)
            {
                @detalle.OpcionStr @:. <br />
            }
            @if (comida.ComidasDetalles.Count == 0)
            {
                <br />
                <br />
                <a href="@Url.Action("Create", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-primary btn-xs"><i class="fas fa-clone"></i></a>
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
            }
            else
            {
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
                <br />
                <br />
            }
        </div>
            }
        }
    </div>
    <div class="row" id="mediaTarde">
        <div class="col-md-2" style="border-left:1px solid black; border-top:1px solid black;  width:12.5%">
            Media Tarde
        </div>
        @foreach (var comida in Model.MediaTarde)
        {
            if (Model.MediaTarde.Last() == comida)
            {
        <div class="col-md-2 text-center" style=" border-left:1px solid black; border-top:1px solid black;  border-right:1px solid black; width:12.5%">
            @foreach (var detalle in comida.ComidasDetalles)
            {
                @detalle.OpcionStr @:.
            }
            @if (comida.ComidasDetalles.Count == 0)
            {
                <br />
                <br />
                <a href="@Url.Action("Create", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-primary btn-xs"><i class="fas fa-clone"></i></a>
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
            }
            else
            {
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
                <br />
                <br />
            }
        </div>
            }
            else
            {
        <div class="col-md-2 text-center" style=" border-left:1px solid black; border-top:1px solid black;  width:12.5%">
            @foreach (var detalle in comida.ComidasDetalles)
            {
                @detalle.OpcionStr @:.<br />
            }
            @if (comida.ComidasDetalles.Count == 0)
            {
                <br />
                <br />
                <a href="@Url.Action("Create", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-primary btn-xs"><i class="fas fa-clone"></i></a>
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
            }
            else
            {
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
                <br />
                <br />
            }
        </div>
            }
        }
    </div>
    <div class="row" id="cena">
        <div class="col-md-2" style="border-left:1px solid black; border-top:1px solid black; border-bottom:1px solid black;  width:12.5%">
            Cena
        </div>
        @foreach (var comida in Model.Cena)
        {
            if (Model.Cena.Last() == comida)
            {
        <div class="col-md-2 text-center" style=" border-left:1px solid black; border-top:1px solid black; border-bottom:1px solid black;  border-right:1px solid black; width:12.5%" r">
            @foreach (var detalle in comida.ComidasDetalles)
            {
                @detalle.OpcionStr @:.
            }
            @if (comida.ComidasDetalles.Count == 0)
            {
                <br />
                <br />
                <a href="@Url.Action("Create", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-primary btn-xs"><i class="fas fa-clone"></i></a>
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
            }
            else
            {
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
                <br />
                <br />
            }
        </div>
            }
            else
            {
        <div class="col-md-2 text-center" style=" border-left:1px solid black; border-top:1px solid black; border-bottom:1px solid black;  width:12.5%">
            @foreach (var detalle in comida.ComidasDetalles)
            {
                @detalle.OpcionStr @:.<br />
            }
            @if (comida.ComidasDetalles.Count == 0)
            {
                <br />
                <br />
                <a href="@Url.Action("Create", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-primary btn-xs"><i class="fas fa-clone"></i></a>
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
            }
            else
            {
                <a href="@Url.Action("CreatePartial", "ComidaDetalle", new { comidaId = comida.Id })" class="btn btn-success btn-xs"><i class="fas fa-plus"></i></a>
                <br />
                <br />
            }
        </div>
            }
        }
    </div>

</div>

<p>
    @Html.ActionLink("Generar Impresion PDF", "GeneratePdf", new { planId = ViewBag.PlanId })
</p>

<br /><br />
@section Scripts {
    <script>
        console.log("desayuno");



        $(function () {
            $("div[duplicar]").click(e => {
                $("#modal-duplicar").modal("show");
                console.log($(e.target).attr("id"));
                       console.log(e.target.tagName);
                console.log($(e.target).parent());
                let id;
                if (e.target.tagName == "svg") {
                    id = $(e.target).parent().attr("id");
                }
                else {
                    id = $(e.target).attr("id");
                }
                $.get('@Url.Action("DuplicarComida","Comida")', { comidaId : id }, parcial => {
                    $("#partialFindDuplicarComida").empty().append(parcial);
                });
            });



        });
    </script>

}


