@using Dominio.Entidades
@model NutricionWeb.Models.PlanAlimenticio.PlanAlimenticioVistaViewModel


@{
    ViewBag.Title = "Plan";
}

<div class="text-danger" id="mensajePlan"></div>

@*================Modal Duplicar =========================*@
<div class="modal fade" id="modal-duplicar" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div align="right">
                    <button type="button" class=" btn btn-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <br>
                <div class="jumbotron titulo-ABM" style="margin-bottom:5px">
                    <h2>Seleccionar Dia</h2>
                </div>
            </div>
            <div class="modal-body">
                <div class="form" style="height:382px">
                    <div class="">
                        <div id="partialFindDuplicarComida"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary-custom" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </div>
    </div>
</div>


@*================Modal Duplicar Comida =========================*@

<div class="modal fade" id="modal-duplicarComida" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @*Parte de arriba del modal*@
            <div class="modal-header">
                <div align="right">
                    <button type="button" class=" btn btn-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <br>
                <div class="jumbotron titulo-ABM" style="margin-bottom:5px">
                    <h2>Seleccionar Plan</h2>
                </div>
            </div>
            @*Cuerpo del modal*@
            <div class="modal-body">
                <div class="form" style="height:382px">
                    <div class="form-group navbar-right">
                        <div class="col-md-4" style="width: 310px">
                            <input type="text" class="form-control " id="txt-BuscarPlan" placeholder="Ingrese una cadena...">
                        </div>
                        <div class="col-md-2" align="left">
                            <div id="btn-BuscarPlan" class="btn btn-default ">Buscar</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="partialFindPlan"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelar-plan" class="btn btn-primary-custom" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </div>
    </div>
</div>


@*================Modal Agregar Comida =========================*@
<div class="modal fade" id="modal-AgregarComida" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @*Parte de arriba del modal*@
            <div class="modal-header">
                <div align="right">
                    <button type="button" class=" btn btn-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <br>
                <div class="jumbotron titulo-ABM" style="margin-bottom:5px">
                    <h2>Agregar Comida</h2>
                </div>
            </div>
            @*Cuerpo del modal*@
            <div class="modal-body">
                <div class="" style="height: 382px">
                    <div class="navbar-form navbar-right">

                        <div class="form-group">



                            <input type="text" class="form-control " id="txt-BuscarComida" placeholder="Ingrese una cadena...">
                            <div id="btn-BuscarComida" class="btn btn-default" style="margin-top: 0px; margin-bottom: 0px;">Buscar</div>
                        </div>
                    </div>
                    <div class="navbar-form navbar-right">
                        <strong>Subgrupo</strong>
                        @Html.DropDownList("idSub", ViewBag.Cmb as IEnumerable<SelectListItem>, "Ninguno", new { @class = "form-control", @id = "idSub" })
                    </div>

                    <div class="col-md-12">
                        <div id="partialFindAgregarComida"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelar-subgrupo" class="btn btn-primary-custom" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@*================Modal Detalle =========================*@
<div class="modal fade" id="modal-detalle" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div align="right">
                    <button type="button" class=" btn btn-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <br>
                <div class="jumbotron titulo-ABM" style="margin-bottom:5px">
                    <h2>Detalle</h2>
                </div>
            </div>
            <div class="modal-body">
                <div class="form" style="height:382px">
                    <div class="">
                        <div id="partialFindDetalleComida"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary-custom" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<style>
    .row {
        display: table;
        width: 100%;
    }

    .cabeceraDia {
        border-left: 1px solid black;
        border-top: 1px solid black;
        width: 12.5%;
    }

    .cabeceraComida {
        border-left: 1px solid black;
        border-top: 1px solid black;
        width: 12.5%
    }

    .comidasDomingos {
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-right: 1px solid black !important;
        width: 12.5%
    }

    .comidasCena {
        border-bottom: 1px solid black;
    }

    .cabeceraDomingo {
        border-right: 1px solid black;
    }

    .cabeceraCena {
        border-bottom: 1px solid black;
    }

    .btn {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .tabla {
        border-collapse: collapse;
        background-color: #F8F8FF;
    }

    .td {
        border: 1px solid #000;
        width: 12.5%;
    }

    .th {
        border: 1px solid #000;
        width: 12.5%;
        text-align: center;
    }
</style>



@helper DibujarComidas(List<NutricionWeb.Models.Comida.ComidaViewModel> comidas, string clases = "")
{
    foreach (var comida in comidas)
    {
        if (Model.Desayunos.Last().DiaStr == comida.DiaStr)
        {
            <td class="td" comidaColumna id="@comida.DiaStr@comida.Descripcion">
                @foreach (var detalle in comida.ComidasDetalles)
                {
                    <a onclick="detalle(@detalle.Id)" style="cursor: pointer">@detalle.OpcionStr .</a>
                    if (!string.IsNullOrEmpty(detalle.Comentario))
                    {
                        <p style="font-size: 12px; margin: 0; color: darkgrey; font-style: italic;">Consejo: @detalle.Comentario</p>
                        <hr style="margin-top: 5px; margin-bottom: 5px; border: 0; border-top: 1px solid darkgray;" />
                    }
                    <br />

                }
                @if (comida.ComidasDetalles.Count == 0)
                {
                    <div align="center">
                        <div id="@comida.Id" class="btn btn-primary btn-xs" title="Copiar una comida" onclick="duplicar(@comida.Id)"><i class="far fa-clipboard"></i></div>
                        <div id="@comida.Id" class="btn btn-success btn-xs" title="Agregar opcion" onclick="agregar(@comida.Id)"><i class="fas fa-plus"></i></div>
                    </div>
                }
                else
                {
                    <div align="center">
                        <div id="@comida.Id" class="btn btn-success btn-xs" title="Agregar opcion" onclick="agregar(@comida.Id)"><i class="fas fa-plus"></i></div>
                    </div>
                }
            </td>
        }
        else
        {
            <td class="td" comidaColumna id="@comida.DiaStr@comida.Descripcion">
                @foreach (var detalle in comida.ComidasDetalles)
                {
                    <a onclick="detalle(@detalle.Id)" style="cursor: pointer">@detalle.OpcionStr.</a>

                    if (!string.IsNullOrEmpty(detalle.Comentario))
                    {
                        <p style="font-size: 12px; margin: 0; color: darkgrey; font-style: italic;">Consejo: @detalle.Comentario</p>
                        <hr style="margin-top: 5px; margin-bottom: 5px; border: 0; border-top: 1px solid darkgray;" />
                    }
                    <br />

                }

                @if (comida.ComidasDetalles.Count == 0)
                {
                    <div align="center">
                        <div id="@comida.Id" class="btn btn-primary btn-xs" title="Copiar una comida" onclick="duplicar(@comida.Id)"><i class="far fa-clipboard"></i></div>
                        <div id="@comida.Id" class="btn btn-success btn-xs" title="Agregar opcion" onclick="agregar(@comida.Id)"><i class="fas fa-plus"></i></div>
                    </div>
                }
                else
                {
                    <div align="center">
                        <div id="@comida.Id" class="btn btn-success btn-xs" title="Agregar opcion" onclick="agregar(@comida.Id)"><i class="fas fa-plus"></i></div>
                    </div>
                }

            </td>
        }

    }
}

<div class="titulo-ABM" style="text-align: center;">
    <h4 class="create-h4" style="font-size: 2.3em">Plan Alimenticio - @ViewBag.Paciente</h4>
</div>

<table class="tabla" width="100%">
    <tr>
        <th style="border: none;"></th>
        <th class="th">Lunes</th>
        <th class="th">Martes</th>
        <th class="th">Miercoles</th>
        <th class="th">Jueves</th>
        <th class="th">Viernes</th>
        <th class="th">Sabado</th>
        <th class="th">Domingo</th>

    </tr>

    <tr id="desayuno">
        <td class="td text-center" desayuno style="cursor: pointer">Desayuno</td>
        @DibujarComidas(Model.Desayunos)
    </tr>
    <tr id="mediaMañana">
        <td class="td text-center" mediaManana style="cursor: pointer">Media Mañana</td>
        @DibujarComidas(Model.MediaMañana)
    </tr>
    <tr id="almuerzo">
        <td class="td text-center" almuerzo style="cursor: pointer">Almuerzo</td>
        @DibujarComidas(Model.Almuerzo)
    </tr>
    <tr id="opcionalMediodia">
        <td class="td text-center" opcionalmedioDia style="cursor: pointer">Opcional Mediodia</td>
        @DibujarComidas(Model.OpcionalMediodia)
    </tr>
    <tr id="merienda">
        <td class="td text-center" merienda style="cursor: pointer">Merienda</td>
        @DibujarComidas(Model.Merienda)
    </tr>
    <tr id="mediaTarde">
        <td class="td text-center" mediaTarde style="cursor: pointer">Media tarde</td>
        @DibujarComidas(Model.MediaTarde)
    </tr>
    <tr id="cena">
        <td class="td text-center" cena style="cursor: pointer">Cena</td>
        @DibujarComidas(Model.Cena)
    </tr>
    <tr id="opcionalNoche">
        <td class="td text-center" opcionalNoche style="cursor: pointer">Opcional Noche</td>
        @DibujarComidas(Model.OpcionalNoche)
    </tr>
</table>

<br /><br />

<table class="table" style="max-width: 400px;">
  <tr>
      <th>Macronutriente</th>
      <th>%</th>
      <th>Kcal</th>
      <th>Gramos</th>
  </tr>
  <tr>
      <td>Hidratos de carbono</td>
      <td>@ViewBag.CarboPorce %</td>
      <td>@ViewBag.Carbos kcal</td>
      <td>@ViewBag.CarboGramo g</td>
  </tr>
  <tr>
      <td>Proteinas</td>
      <td>@ViewBag.ProtePorce %</td>
      <td>@ViewBag.Protes kcal</td>
      <td>@ViewBag.ProteGramo g</td>
  </tr>
  <tr>
      <td>Grasas</td>
      <td>@ViewBag.GrasaPorce %</td>
      <td>@ViewBag.Grasas kcal</td>
      <td>@ViewBag.GrasaGramo g</td>
  </tr>
  <tr>
      <td>Total Calorias</td>
      <td>@ViewBag.Calorias kcal</td>
  </tr>
</table>


<label style="max-width:100%;min-width:100%;margin-top: 5px" id="lblrecetario">Comentarios : @ViewBag.Recetario</label>
<textarea id="comentariotxtarea" class="form-control" cols="12" style="max-width:100%;min-width:100%; width: 100%; margin-top:30px;display: none">@ViewBag.Recetario</textarea>
<button class="btn btn-primary-custom btn-xs" style="display: none" id="guardarComentario">Guardar</button>
<button class="btn btn-danger btn-xs" style="display: none" id="cancelarComentario">Cancelar</button>


<p style="margin-top: 5px">
    @Html.ActionLink("Volver al paciente", "DatosAdicionales", "Paciente", new { id = ViewBag.PacienteId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Generar Impresion PDF", "GeneratePdf", new { planId = ViewBag.PlanId }, new { @class = "btn btn-primary-custom" })
    @Html.ActionLink("Copiar Plan Alimenticio", "DuplicarPlan", "PlanAlimenticio", new { volver = 1, planId = ViewBag.PlanId }, new { @class = "btn btn-primary-custom" })
    @*@Html.ActionLink("Copiar fila de otro plan", "DuplicarPlan", "PlanAlimenticio", new { volver = 1, planId = ViewBag.PlanId }, new { @class = "btn btn-primary-custom" })*@
    <button class="btn btn-primary-custom" id="modificarRecetario">Cambiar Comentario</button>
    <button class="btn btn-primary-custom" id="verRecetario">Ver recetario</button>
</p>

<br /><br />

<div id="recetario" style="display: none">
    <div class="row" style="text-align: center; margin-bottom: 30px;">
        <h4 style="color: #89bc94; font-size: 1.5em;">Recetario</h4>
    </div>
    
    <div id="recetario-container" class="row"></div>

</div>


@section Scripts {
    <script>

        var opcionIds = [];
        var comidaIdFlag = -1;
        var comidaSeleccionada = "";

        var buscarComidas = function(cadenaBuscar, comidaId, subgrupoId) {
            $.get('@Url.Action("BuscarOpcionModal", "ComidaDetalle")',
                { cadenaBuscar, comidaId, subgrupoId },
                parcial => {
                    $("#partialFindAgregarComida").empty().append(parcial);
                });
        }

        var detalle = id => {
            $("#modal-detalle").modal("show");

            $.get('@Url.Action("DetalleComida", "Comida")',
                { detalleId: id, planId: @ViewBag.PlanId },
                (parcial) => {
                    $("#partialFindDetalleComida").empty().append(parcial);
                });
        }

        var duplicar = id => {
            $("#modal-duplicar").modal("show");

            $.get('@Url.Action("DuplicarComida", "Comida")',
                { planId: @ViewBag.PlanId, comidaId: id },
                parcial => {
                    $("#partialFindDuplicarComida").empty().append(parcial);
                });
        }

        var agregar = id => {
            comidaIdFlag = -1;
            $("#modal-AgregarComida").modal("show");
            comidaIdFlag = id;
            $.get('@Url.Action("BuscarOpcionModal", "ComidaDetalle")',
                { comidaId: id },
                parcial => {
                    $("#partialFindAgregarComida").empty().append(parcial);
                });
        }

        $(document).on("click",
            "input[name=seleccionar-opcion]",
            (e) => {
                var id = $(e.target).attr("id");
                $(e.target).removeClass("btn-primary-custom").addClass("btn-primary");
                $(e.target).val("Seleccionado");
                if (!opcionIds.includes(id)) {
                    opcionIds.push(id);
                }
            });

        $(document).on("click",
            "#guardarOpciones",
            (e) => {
                var comidaId = $("#ComidaId").val();
                $.post('@Url.Action("AgregarOpcionesPlan", "ComidaDetalle")',
                    { ids: opcionIds, planId: @ViewBag.PlanId, comidaId },
                    (json) => {
                        if (json.estado) {
                            opcionIds = [];
                            location.reload();
                        } else {

                            $("#mensajePlan").empty().append(json.mensaje);
                            $("#modal-AgregarComida").modal("hide");
                            opcionIds = [];
                            comidaIdFlag = -1;
                        }
                    });
            });

        $('#modal-AgregarComida').on('hide.bs.modal',
            function(e) {
                opcionIds = [];
            });

        $('#modal-duplicarComida').on('hide.bs.modal',
            function(e) {
                comidaSeleccionada = "";
            
        });

        var recorreFila = (idFila) => {
            var elementoAnterior;
            var i = 0;
            $(`#${idFila} [comidaColumna]`).each((index, elemento) => {
                var elementoActual = $(elemento);
                if (index !== 0) {

                    if (elementoAnterior.text().trim() === elementoActual.text().trim() &&
                        elementoAnterior.text().trim() !== "") {

                        elementoActual.remove();
                        i++;
                        if (index == 6) {
                            elementoAnterior.attr("colspan", i + 1);
                        }
                    } else {
                        elementoAnterior.attr("colspan", i + 1);
                        i = 0;
                        elementoAnterior = $(elemento);
                    }
                } else {
                    elementoAnterior = $(elemento);
                }

            });
    }

    function listaPlan() {
        $("#partialFindPlan").empty();

        $.get('@Html.Raw(Url.Action("BuscarPlan", "PlanAlimenticio"))',
            {
                cadenaBuscar: $("#txt-BuscarPlan").val()
            },
            function (listaPlan) {
                $("#partialFindPlan").append(listaPlan);
            });
    }

    $(document).on("click", "#seleccionar-plan", function() {
                $.get('@Url.Action("DuplicarComidaDeOtroPlan", "Comida")',
                    { planDesdeId: $(this).attr("name"), planHastaId : @ViewBag.PlanId, comidaDescripcion : comidaSeleccionada }, (json) => {
                        if (json.estado) {
                            location.reload();
                        } else {
                            $("#mensajePlan").empty().append(json.mensaje);
                        }
                    });

            });

        $(() => {
            recorreFila("desayuno");
            recorreFila("mediaMañana");
            recorreFila("almuerzo");
            recorreFila("merienda");
            recorreFila("mediaTarde");
            recorreFila("cena");
            recorreFila("opcionalNoche");
            recorreFila("opcionalMediodia");

            $("#guardarComentario").click(() => {
                $.post('@Url.Action("ModificarRecetario", "PlanAlimenticio")',
                    { recetario: $("#comentariotxtarea").val(), planId: @ViewBag.PlanId },
                    (json) => {
                        if (json.estado) {
                            location.reload();
                        } else {
                            $("#mensajePlan").empty().append(json.mensaje);
                        }
                    });
            });

            var recetario = () => {
                $("#comentariotxtarea").toggle();
                $("#guardarComentario").toggle();
                $("#cancelarComentario").toggle();
                $("#lblrecetario").toggle();
            }


            $("#modificarRecetario").click(() => {
                recetario();
            });

            $("#cancelarComentario").click(() => {
                recetario();
            });

            $("td[desayuno]").click(() => {
                $("#modal-duplicarComida").modal("show");
                listaPlan();
                comidaSeleccionada = "Desayuno";
            });
            $("td[mediaMañana]").click(() => {
                $("#modal-duplicarComida").modal("show");
                listaPlan();
                comidaSeleccionada = "MediaMañana";
            });
            $("td[almuerzo]").click(() => {
                $("#modal-duplicarComida").modal("show");
                listaPlan();
                comidaSeleccionada = "Almuerzo";
            });
            $("td[opcionalMediodia]").click(() => {
                $("#modal-duplicarComida").modal("show");
                listaPlan();
                comidaSeleccionada = "OpcionalMediodia";
            });
            $("td[mediaTarde]").click(() => {
                $("#modal-duplicarComida").modal("show");
                listaPlan();
                comidaSeleccionada = "MediaTarde";
            });
            $("td[merienda]").click(() => {
                $("#modal-duplicarComida").modal("show");
                listaPlan();
                comidaSeleccionada = "Merienda";
            });
            $("td[cena]").click(() => {
                $("#modal-duplicarComida").modal("show");
                listaPlan();
                comidaSeleccionada = "Cena";
            });
            $("td[opcionalNoche]").click(() => {
                $("#modal-duplicarComida").modal("show");
                listaPlan();
                comidaSeleccionada = "OpcionalNoche";
            });



            $("#idSub").change(function() {
                const subgrupoId = this.value;
                const buscar = $("#txt-BuscarComida").val();
                buscarComidas(buscar,comidaIdFlag, subgrupoId);
            });

            $("#btn-BuscarComida").click(function () {
                const subgrupoId = $("#idSub").val();
                const buscar = $("#txt-BuscarComida").val();
                buscarComidas(buscar,comidaIdFlag, subgrupoId);
            });

            $("#btn-BuscarPlan").click(() => {
                listaPlan();
            });

            $("#verRecetario").click(() => {
                $("#recetario").toggle();
                if ($("#recetario").is(':visible')) {
                    $("#recetario-container").empty();
                    $.get('@Url.Action("ObtenerRecetarios","PlanAlimenticio")',{ planAlimenticio:@ViewBag.PlanId },(parcial) => {
                        $("#recetario-container").empty().append(parcial);
                    });
                } else {
                    $("#recetario-container").empty();
                } 
               
            });

        });
    </script>

}


