@model NutricionWeb.Models.PlanAlimenticio.PlanAlimenticioVistaViewModel


@{
    ViewBag.Title = "ExportarPlanOrdenado";
}

@*================Modal Duplicar =========================*@
<div class="modal fade" id="modal-duplicar" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div align="right">
                    <button type="button" class=" btn btn-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <br>
                <div class="jumbotron titulo-ABM" style="margin-bottom:5px">
                    <h2>Seleccionar Dia</h2>
                </div>
            </div>
            <div class="modal-body">
                <div class="form" style="height:382px">
                    <div class="">
                        <div id="partialFindDuplicarComida"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelar-paciente" class="btn btn-primary-custom" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@*================Modal Agregar Comida=====================*@
<div class="modal fade" id="modal-AgregarComida" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div align="right">
                    <button type="button" class=" btn btn-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <br>
                <div class="jumbotron titulo-ABM" style="margin-bottom:5px">
                    <h2>Agregar Comida</h2>
                </div>
            </div>
            <div class="modal-body">
                <div class="form" style="height:382px">
                    <div class="">
                        <div id="partialFindAgregarComida"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelar-paciente" class="btn btn-primary-custom" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<style>
    .row {
        display: table;
        width: 100%;
    }

    [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }

    .cabeceraDia {
        border-left: 1px solid black;
        border-top: 1px solid black;
        width: 12.5%;
    }

    .cabeceraComida {
        border-left: 1px solid black;
        border-top: 1px solid black;
        width: 12.5%
    }

    .comidasDomingos {
        border-left:1px solid black; 
        border-top:1px solid black;
        border-right:1px solid black !important; 
        width:12.5%
    }

    .comidasCena {
        border-bottom:1px solid black;
    }

    .cabeceraDomingo {
        border-right: 1px solid black;
    }

    .cabeceraCena {
        border-bottom: 1px solid black;
    }

    .btn {
        margin-top : 5px;
        margin-bottom : 5px;
    }

</style>

@helper DibujarCabeceraDia(string dia, string clases = "")
{
    <div class="col-md-2 text-center cabeceraDia @clases">
        @dia
    </div>
}

@helper DibujarCabeceraComida(string comida, string clases = "")
{
    <div class="col-md-2 cabeceraComida @clases">
        @comida
    </div>
}


@helper DibujarComidas(List<NutricionWeb.Models.Comida.ComidaViewModel> comidas,string clases ="")
{
    foreach (var comida in comidas)
    {
        if (Model.Desayunos.Last().DiaStr == comida.DiaStr)
        {
            <div class="col-md-2 text-center comidasDomingos @clases"  id="@comida.DiaStr@comida.Descripcion">
                @foreach (var detalle in comida.ComidasDetalles)
                {
                    @detalle.OpcionStr @:.

                }
                @if (comida.ComidasDetalles.Count == 0)
                {
                    <div id="@comida.Id" class="btn btn-primary btn-xs" onclick="duplicar(@comida.Id)"><i class="far fa-clipboard"></i></div>
                    <div id="@comida.Id" class="btn btn-success btn-xs" onclick="agregar(@comida.Id)"><i class="fas fa-plus"></i></div>
                }
                else
                {
                    <div id="@comida.Id" class="btn btn-success btn-xs" onclick="agregar(@comida.Id)"><i class="fas fa-plus"></i></div>
                }
            </div>
        }
        else
        {
            <div class="col-md-2 text-center @clases" style=" border-left:1px solid black; border-top:1px solid black;  width:12.5%" id="@comida.DiaStr@comida.Descripcion">
                @foreach (var detalle in comida.ComidasDetalles)
                {
                    @detalle.OpcionStr @:.<br />
                }

                @if (comida.ComidasDetalles.Count == 0)
                {
                    <div id="@comida.Id" class="btn btn-primary btn-xs" onclick="duplicar(@comida.Id)"><i class="far fa-clipboard"></i></div>
                    <div id="@comida.Id" class="btn btn-success btn-xs" onclick="agregar(@comida.Id)"><i class="fas fa-plus"></i></div>
                }
                else
                {
                    <div id="@comida.Id" class="btn btn-success btn-xs" onclick="agregar(@comida.Id)"><i class="fas fa-plus"></i></div>
                }

            </div>
        }

    }
}


<h2>ExportarPlanOrdenado</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style=" width:12.5%">

        </div>
        @DibujarCabeceraDia("Lunes")
        @DibujarCabeceraDia("Martes")
        @DibujarCabeceraDia("Miercoles")
        @DibujarCabeceraDia("Jueves")
        @DibujarCabeceraDia("Virenes")
        @DibujarCabeceraDia("Sabado")
        @DibujarCabeceraDia("Domingo", "cabeceraDomingo")
    </div>

    <div class="row" id="desayuno">
        @DibujarCabeceraComida("Desayuno")
        @DibujarComidas(Model.Desayunos)
    </div>
    <div class="row" id="mediaMañana">
        @DibujarCabeceraComida("Media Mañana")
        @DibujarComidas(Model.MediaMañana)
    </div>
    <div class="row" id="almuerzo">
        @DibujarCabeceraComida("Almuerzo")
        @DibujarComidas(Model.Almuerzo)
    </div>
    <div class="row" id="merienda">
        @DibujarCabeceraComida("Merienda")
        @DibujarComidas(Model.Merienda)
    </div>
    <div class="row" id="mediaTarde">
        @DibujarCabeceraComida("Media Tarde")
        @DibujarComidas(Model.MediaTarde)
    </div>
    <div class="row" id="cena">
        @DibujarCabeceraComida("Cena", "cabeceraCena")
        @DibujarComidas(Model.Cena,"comidasCena")
    </div>

</div>

<p>
    @Html.ActionLink("Generar Impresion PDF", "GeneratePdf", new { planId = ViewBag.PlanId })
</p>

<br /><br />
@section Scripts {
    <script>

        var duplicar = id => {
            $("#modal-duplicar").modal("show");

            $.get('@Url.Action("DuplicarComida","Comida")', { planId: @ViewBag.PlanId, comidaId : id }, parcial => {
                $("#partialFindDuplicarComida").empty().append(parcial);
            });
        }

        var agregar = id => {
            $("#modal-AgregarComida").modal("show");
            $.get('@Url.Action("CreatePartialPlanOrdenado","ComidaDetalle")', { comidaId : id }, parcial => {
                    $("#partialFindAgregarComida").empty().append(parcial);
                });
            }

         var seleccionarOpcion = (opcionId, opcionStr, comidaId) => {
            console.log("opcionId " + opcionId);
            console.log("OpcionStr " + opcionStr);
            console.log("ComidaId " + comidaId);
            $.get('@Url.Action("CreatePartialPlanOrdenado","ComidaDetalle")', { comidaId: comidaId, opcionId: opcionId, opcionStr : opcionStr }, parcial => {
                $("#partialFindAgregarComida").empty().append(parcial);
            });
         }


    </script>

}


