@model NutricionWeb.Models.PlanAlimenticio.PlanAlimenticioViewModel

@{
}

<div class="titulo-ABM">
    <h4 class="detail-plan-h4">Detalles del Plan</h4>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.PacienteStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacienteStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaStr)
        </dd>


    </dl>
</div>



@foreach (var dia in Model.Dias)
{


    <h3 class="detail-h3"><p>@dia.Descripcion</p></h3>
    <div class="row row-plan">

        @foreach (var comida in dia.Comidas)
        {
            <div class="col-md-2 col-sm-2 col-xs-2" style="border-right: 1px solid #ccc;">
                <h4><p>@comida.Descripcion</p></h4>

                @foreach (var opcion in comida.Opciones)
                {
                    <hr />
                    <strong>
                        <p>
                            @opcion.Descripcion
                        

                    </p>
                </strong>
                foreach (var opcionDetalle in opcion.OpcionDetalles)
                {
                    <p>@opcionDetalle.AlimentoStr @opcionDetalle.CantidadMostrar</p>
                }
            }
            </div>

        }

    </div>
    <br>

}


