@model IEnumerable<NutricionWeb.Models.PlanAlimenticio.PlanAlimenticioViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Planes Alimenticios</h4>
</div>

<p>
    @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr class="cabecera-tabla">
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.PacienteStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Eliminado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.PacienteStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaStr)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.EliminadoStr)
        </td>
        <td align="right">
            @Html.ActionLink("Actualizar", "Edit", new { id=item.Id }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }, new { @class = "btn btn-default" }) 
            @if (item.Eliminado)
            {
                @Html.ActionLink("Activar", "Delete", new {id = item.Id}, new {@class = "btn btn-info"})

            }
            else
            {
                @Html.ActionLink("Eliminar", "Delete", new {id = item.Id}, new {@class = "btn btn-danger"})

            }
        </td>
    </tr>
}

</table>
