@using PagedList.Mvc;
@model PagedList.IPagedList<NutricionWeb.Models.PlanAlimenticio.PlanAlimenticioViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Planes Alimenticios</h4>
</div>

<div class="row">
    <div class="col-lg-6" align="left">
        <div class="btn-group">
            @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary" })

            @Html.ActionLink("Duplicar Existente", "DuplicarPlan", new { }, new { @class = "btn btn-primary" })
            @if (@ViewBag.Eliminado == false)
    {
        @Html.ActionLink("Ver Eliminados", "Index", new { eliminado = true }, new { @class = "btn btn-primary" })

}
else
{
        @Html.ActionLink("Ver Eliminados", "Index", new { eliminado = false }, new { @class = "btn btn-primary" })

}
        </div>
    </div>
    <div class="col-lg-6" align="right">
        <form class="navbar-form navbar-right">
            @using (Html.BeginForm("Index", "PlanAlimenticio", FormMethod.Get))
            {
                <form class="form-group-lg">
                    @Html.TextBox("CadenaBuscar", ViewBag.FilterValue as string, new { placeholder = "Ingrese una cadena...", @class = "form-control" })
                    <button type="submit" class="btn btn-default">Buscar</button>
                </form>
            }
        </form>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <tr class="cabecera-tabla">
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PacienteStr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TotalCalorias)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Eliminado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PacienteStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCalorias)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EliminadoStr)
            </td>
            <td align="right">
                @Html.ActionLink("Actualizar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                @if (item.Eliminado)
        {
            @Html.ActionLink("Activar", "Delete", new { id = item.Id }, new { @class = "btn btn-info" })

}
else
{
        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })

}
                @Html.ActionLink("Ver Plan", "ExportarPlan", new { id = item.Id }, new { @class = "btn btn-info" })

            </td>
        </tr>
        }

    </table>
</div>

<div align="center">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", "PlanAlimenticio", new { page, cadenaBuscar = ViewBag.FilterValue }))
</div>