@using PagedList.Mvc
@model PagedList.IPagedList<NutricionWeb.Models.Alimento.AlimentoViewModel>

<div id="mensaje" style="color: red;"></div>

@Ajax.ActionLink("Nueva", "CreateParcial", "Alimento", new { observacionId = @ViewBag.ObservacionId }, new AjaxOptions()
{

    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "partialFindAlimento",
    OnBegin = "hideBuscar"

}, new { @class = "btn btn-primary-custom", @style = "margin-bottom:5px" })


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Descripcion)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>

            <td>
                <input type="button" seleccionar name="@item.Id" class="btn btn-primary" value="Seleccionar" />
            </td>
        </tr>
    }

</table>

<div align="center">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("BuscarAlimento", "ObservacionAlimento", new { page, cadenaBuscar = ViewBag.FilterValue }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "partialFindAlimento" }))
</div>

<script>

    var hideBuscar = () => {
        $("#formBuscar").hide();
    }

    $("input[seleccionar]").click((e) => {
        let boton = $(e.target);
        let id = boton.attr("name");

        $.post('@Url.Action("CreateParcial", "ObservacionAlimento")',
            { observacionId: @ViewBag.ObservacionId, alimentoId: id },
            (json) => {
                if (json.estado) {
                    boton.removeClass("btn-primary").addClass("btn-primary-custom");
                    boton.val("Seleccionado");
                } else {
                    $("#mensaje").empty().append(json.mensaje);
                }
            });


    });


</script>