@model NutricionWeb.Models.Observacion.ObservacionViewModel

@{
    ViewBag.Title = "Observación";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ObservacionABMViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.PacienteStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacienteStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fumador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FumadorStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BebeAlcohol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BebeAlcoholStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuvoHijo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuvoHijoStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadHijo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadHijo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadSuenio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadSuenio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EliminadoStr)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
