@model NutricionWeb.Models.Observacion.ObservacionViewModel

@{
    ViewBag.Title = "Observación";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Observaciones del Paciente</h4>
</div>

<div class="row">
    <hr />
    <div class="col-md-7">
        <p class="info-style">
            @Html.DisplayNameFor(model => model.Codigo):
            <span class="sub-info">
                @Html.DisplayFor(model => model.Codigo)
                </span>
        </p>


        <p class="info-style">
            @Html.DisplayNameFor(model => model.PacienteStr):
            <span class="sub-info">
                @Html.DisplayFor(model => model.PacienteStr)
                </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Fumador):
            <span class="sub-info">
                @Html.DisplayFor(model => model.FumadorStr)
                </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.BebeAlcohol):
            <span class="sub-info">
                @Html.DisplayFor(model => model.BebeAlcoholStr)
                </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.EstadoCivil):
            <span class="sub-info">
                @Html.DisplayFor(model => model.EstadoCivil)
                </span>
        </p>
    </div>
    <div class="col-md-5">
        <p class="info-style">
            @Html.DisplayNameFor(model => model.TuvoHijo):
            <span class="sub-info">
                @Html.DisplayFor(model => model.TuvoHijoStr)
            </span>
        </p>

        <p class="info-style">
            @Html.DisplayNameFor(model => model.CantidadHijo):
            <span class="sub-info">
                @Html.DisplayFor(model => model.CantidadHijo)
                </span>
        </p>


        <p class="info-style">
            @Html.DisplayNameFor(model => model.CantidadSuenio):
            <span class="sub-info">
                @Html.DisplayFor(model => model.CantidadSuenio)
                </span>
        </p>


        <p class="info-style">
            @Html.DisplayNameFor(model => model.Eliminado):
            <span class="sub-info">
                @Html.DisplayFor(model => model.EliminadoStr)
                </span>
        </p>
    </div>
    


        


</div>
<p style="margin-top: 15px;">
    @Html.ActionLink("Actualizar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Ir al Paciente", "Details","Paciente", new { id = Model.PacienteId }, new { @class = "btn btn-info" })

</p>

    <hr />

    <p>@Html.ActionLink("Agregar Patologia", "Create", "ObservacionPatologia", new { observacionId = Model.Id }, new { @class = "btn btn-primary" }) </p>

    <table class="table">
        <tr class="cabecera-tabla">
            <th>
                @Html.DisplayNameFor(model => model.Patologias.FirstOrDefault().Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patologias.FirstOrDefault().Descripcion)
            </th>



            <th></th>
        </tr>

        @foreach (var item in Model.Patologias)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td align="right">
                    @Html.ActionLink("Eliminar", "Delete", "ObservacionPatologia", new { observacionId = Model.Id, patologiaId = item.Id }, new { @class = "btn btn-danger" })
                </td>


            </tr>
        }

    </table>

    <hr />

    <p>@Html.ActionLink("Agregar Alergia/Intolerancia", "Create", "ObservacionAlergiaIntolerancia", new { observacionId = Model.Id }, new { @class = "btn btn-primary" }) </p>


    <table class="table">
        <tr class="cabecera-tabla">
            <th>
                @Html.DisplayNameFor(model => model.AlergiasIntolerancias.FirstOrDefault().Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlergiasIntolerancias.FirstOrDefault().Descripcion)
            </th>



            <th></th>
        </tr>

        @foreach (var item in Model.AlergiasIntolerancias)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td align="right">
                    @Html.ActionLink("Eliminar", "Delete", "ObservacionAlergiaIntolerancia", new { observacionId = Model.Id, alergiaId = item.Id }, new { @class = "btn btn-danger" })

                </td>

            </tr>
        }

    </table>

    <hr />

    <p>@Html.ActionLink("Agregar Alimento Rechazado", "Create", "ObservacionAlimento", new { observacionId = Model.Id }, new { @class = "btn btn-primary" }) </p>


    <table class="table">
        <tr class="cabecera-tabla">
            <th>
                @Html.DisplayNameFor(model => model.Alimentos.FirstOrDefault().Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alimentos.FirstOrDefault().Descripcion)
            </th>



            <th></th>
        </tr>

        @foreach (var item in Model.Alimentos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td align="right">
                    @Html.ActionLink("Eliminar", "Delete", "ObservacionAlimento", new { observacionId = Model.Id, alimentoId = item.Id }, new { @class = "btn btn-danger" })

                </td>

            </tr>
        }

    </table>
    <hr />
