@model IEnumerable<NutricionWeb.Models.Observacion.ObservacionViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Lista de Observaciones</h4>
</div>


<table class="table">
    <tr class="cabecera-tabla">
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.PacienteStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fumador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BebeAlcohol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TuvoHijo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadHijo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadSuenio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eliminado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.PacienteStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FumadorStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BebeAlcoholStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuvoHijoStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadHijo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadSuenio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EliminadoStr)
        </td>
        <td>
            @Html.ActionLink("Actualizar", "Edit", new { id=item.Id }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
